/* =============header=============== */
.header {
  height: 70px;
  min-width: 1280px;
  background-color: #e64b29;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #cd3011;
  position: relative;
  z-index: 600;
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -moz-linear-gradient(top, #f25b3d 20%, #d93616 100%);
  background-image: -webkit-linear-gradient(top, #f25b3d 20%, #d93616 100%);
  background-image: -o-linear-gradient(top, #f25b3d 20%, #d93616 100%);
  background-image: linear-gradient(to bottom, #f25b3d 20%, #d93616 100%); }

.header-main {
  position: relative;
  height: 70px;
  z-index: 605; }

.header-link {
  float: left;
  width: 189px;
  height: 69px;
  border-right: 1px solid #cd3001;
  border-right: 1px solid rgba(0, 0, 0, 0.25); }
  .header-link h1 {
    float: left;
    margin: 16px 0 0 12px;
    font: bold 20px/30px "\5FAE\8F6F\96C5\9ED1", "\534E\6587\7EC6\9ED1"; }
    .header-link h1 img {
      display: block;
      max-width: 160px;
      max-height: 32px; }
  .header-link .version {
    font-size: 12px;
    color: #fff;
    font-weight: normal;
    font-style: italic; }

.header-side {
  position: absolute;
  top: 0;
  right: 0;
  height: 69px; }

.header-side-item {
  float: right;
  position: relative;
  height: 69px;
  border-right: 1px solid #cd3011;
  border-right: 1px solid rgba(0, 0, 0, 0.25); }

.header-side .header-side-item:first-child {
  border-right: none; }

.header-side-item .item-tit {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 69px;
  padding: 20px 15px 21px;
  line-height: 28px; }

.header-side-item > ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  display: none;
  left: 0;
  top: 100%;
  margin-top: -14px;
  padding-bottom: 10px;
  width: 100%; }
  .header-side-item > ul a {
    display: block;
    font: 12px/30px arial, "\5b8b\4f53", sans-serif;
    color: #fff;
    text-align: center;
    text-decoration: none; }
    .header-side-item > ul a:hover {
      color: #fff;
      text-decoration: none;
      background-color: #ef5738; }

.header-side-item .item-tit {
  text-decoration: none; }
  .header-side-item .item-tit:link, .header-side-item .item-tit:visited {
    color: #fff; }
  .header-side-item .item-tit:hover {
    color: #fff;
    text-decoration: none; }

.header-side-item:hover .item-tit {
  background-color: #cd3011; }

.header-side-item:hover > ul {
  background-color: #cd3011;
  display: block; }

.header-side-item:hover > .item-tit > .arrow, .menu-lst .arrow .header-side-item:hover > .item-tit > b {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.help-menu .item-tit .sg {
  margin-right: 5px; }

.user-menu .item-tit {
  font-weight: 600; }
  .user-menu .item-tit .arrow, .user-menu .item-tit .menu-lst .arrow b, .menu-lst .arrow .user-menu .item-tit b {
    display: inline-block;
    margin-left: 5px;
    border-style: solid dashed dashed dashed;
    border-width: 5px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
    -webkit-transition: transform 0s linear;
    -moz-transition: transform 0s linear;
    -ms-transition: transform 0s linear;
    -o-transition: transform 0s linear;
    transition: transform 0s linear; }

.news-menu .item-tit {
  padding-right: 35px; }
  .news-menu .item-tit .msg-count {
    position: absolute;
    top: 8px;
    left: 33px;
    display: inline-block;
    padding: 0 5px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    font-size: 11px;
    color: #e54625;
    background-color: #fff600;
    -webkit-border-radius: 8px;
    border-radius: 8px; }
    .news-menu .item-tit .msg-count > b {
      display: block;
      font-weight: bold;
      -webkit-transform: scale(0.75);
      transform: scale(0.8); }
  .news-menu .item-tit .arrow-triangle-lf {
    position: absolute;
    top: 17px;
    left: 41px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left: 5px solid #fff600; }

.header-nav {
  float: left; }
  .header-nav li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    min-width: 70px;
    height: 69px; }
  .header-nav li:hover,
  .header-nav .current {
    background-color: #cd3001; }
  .header-nav a i {
    display: block;
    margin: 0 auto 5px;
    width: 34px;
    height: 34px;
    background-image: url("../../../../img/back/nav_icon_2.png");
    background-repeat: no-repeat; }
  .header-nav a em {
    display: block;
    text-align: center;
    font: normal 12px/16px arial, "\5FAE\8F6F\96C5\9ED1", sans-serif;
    opacity: 0.85;
    filter: alpha(opacity=85); }
  .header-nav > li > a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    height: 69px;
    padding: 10px 0 9px;
    color: #fff;
    text-decoration: none; }

.header-nav a:link em,
.header-nav a:visited em,
.header-nav a:hover em {
  color: #fff;
  text-decoration: none; }

.header-nav .nav-basic i {
  background-position: 0 0; }

.header-nav .nav-basic:hover i,
.header-nav .current .nav-basic i {
  background-position: 0 -40px; }

.header-nav .nav-req i {
  background-position: -40px 0; }

.header-nav .nav-req:hover i,
.header-nav .current .nav-req i {
  background-position: -40px -40px; }

.header-nav .nav-purchase i {
  background-position: -80px 0; }

.header-nav .nav-purchase:hover i,
.header-nav .current .nav-purchase i {
  background-position: -80px -40px; }

.header-nav .nav-bid i {
  background-position: -120px 0; }

.header-nav .nav-bid:hover i,
.header-nav .current .nav-bid i {
  background-position: -120px -40px; }

.header-nav .nav-lib i {
  background-position: -160px 0; }

.header-nav .nav-lib:hover i,
.header-nav .current .nav-lib i {
  background-position: -160px -40px; }

.header-nav .nav-sale i {
  background-position: -200px 0; }

.header-nav .nav-sale:hover i,
.header-nav .current .nav-sale i {
  background-position: -200px -40px; }

.header-nav .nav-inspect i {
  background-position: -240px 0; }

.header-nav .nav-inspect:hover i,
.header-nav .current .nav-inspect i {
  background-position: -240px -40px; }

.header-nav .nav-chart i {
  background-position: -280px 0; }

.header-nav .nav-chart:hover i,
.header-nav .current .nav-chart i {
  background-position: -280px -40px; }

.header-nav .nav-home i {
  background-position: -320px 0; }

.header-nav .nav-home:hover i,
.header-nav .current .nav-home i {
  background-position: -320px -40px; }

.header-nav .nav-site i {
  background-position: -400px 0; }

.header-nav .nav-site:hover i,
.header-nav .current .nav-site i {
  background-position: -400px -40px; }

.header-nav .nav-setting i {
  background-position: -360px 0; }

.header-nav .nav-setting:hover i,
.header-nav .current .nav-setting i {
  background-position: -360px -40px; }

.header-nav .nav-quality i {
  background-position: -480px 0; }

.header-nav .nav-quality:hover i,
.header-nav .current .nav-quality i {
  background-position: -480px -40px; }

.header-nav .nav-plan i {
  background-position: -520px 0; }

.header-nav .nav-plan:hover i,
.header-nav .current .nav-plan i {
  background-position: -520px -40px; }

.header-nav .nav-pm i {
  background-position: -560px 0; }

.header-nav .nav-pm:hover i,
.header-nav .current .nav-pm i {
  background-position: -560px -40px; }

.header-nav .nav-price i {
  background-position: -600px 0; }

.header-nav .nav-price:hover i,
.header-nav .current .nav-price i {
  background-position: -600px -40px; }

.header-nav .header-nav-menu {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 904;
  min-width: 1280px;
  padding: 20px 0 20px 189px;
  background-color: #fffae6;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1); }

.header-nav .header-nav-menu.on {
  display: block; }

.header-nav-menu dl {
  display: table-cell;
  min-width: 129px;
  border-left: 1px solid #e2e2e2;
  padding: 0 10px; }
  .header-nav-menu dl dt {
    margin-bottom: 14px;
    color: #333;
    font: 600 14px/20px arial, "\5FAE\8F6F\96C5\9ED1", sans-serif; }
  .header-nav-menu dl dd {
    margin: 6px 0; }
  .header-nav-menu dl a {
    font-family: arial, "Microsoft Yahei", sans-serif; }
    .header-nav-menu dl a:link, .header-nav-menu dl a:visited {
      color: #4b4b4b;
      text-decoration: none; }
    .header-nav-menu dl a:hover {
      color: #e04b43; }

/* =================side================= */
.side-wrap::-webkit-scrollbar {
  width: 12px;
  padding: 0 3px; }

.side-wrap::-webkit-scrollbar-track {
  background-color: #f7f7f7; }

.side-wrap::-webkit-scrollbar-thumb {
  background-color: #ebe1c7;
  border-radius: 5px; }

.side-wrap::-webkit-scrollbar-thumb:hover {
  background-color: #ebdab0; }

.side-wrap::-webkit-scrollbar-thumb:active {
  background-color: #f4dda5; }

.side {
  font-family: arial, "Microsoft Yahei", sans-serif; }

.menu-wrap {
  padding: 5px 15px;
  position: relative;
  *padding-top: 1px;
  display: none; }

.opened {
  display: block; }

.menu-hd {
  position: relative;
  height: 30px;
  line-height: 30px;
  color: #4d4d4d;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  cursor: pointer; }
  .menu-hd .icon {
    margin: 0 6px 2px 0;
    margin-top: 3px \9;
    margin-right: 5px \9;
    background: url(../../../../img/ui/oss_icon.png) no-repeat; }
  .menu-hd .arrow, .menu-hd .menu-lst .arrow b, .menu-lst .arrow .menu-hd b {
    position: absolute;
    right: 0; }
    .menu-hd .arrow:link, .menu-hd .menu-lst .arrow b:link, .menu-lst .arrow .menu-hd b:link, .menu-hd .arrow:visited, .menu-hd .menu-lst .arrow b:visited, .menu-lst .arrow .menu-hd b:visited {
      color: #666;
      text-decoration: none; }
    .menu-hd .arrow:hover, .menu-hd .menu-lst .arrow b:hover, .menu-lst .arrow .menu-hd b:hover {
      color: #e04b43; }
  .menu-hd .extend {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px; }
    .menu-hd .extend:link, .menu-hd .extend:visited {
      color: #999;
      text-decoration: none; }
    .menu-hd .extend:hover {
      color: #e04b43; }

.menu {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ebebeb; }

.menu-wrap div:last-child {
  border-bottom: none; }

.menu-lst > li {
  margin-bottom: 4px; }

.menu-lst a {
  display: block;
  height: 24px;
  line-height: 24px;
  padding-left: 21px;
  border: 1px solid #fff;
  border-radius: 3px;
  font-size: 12px;
  text-decoration: none;
  text-decoration: none; }
  .menu-lst a:link, .menu-lst a:visited {
    color: #666; }
  .menu-lst a:hover {
    color: #666;
    text-decoration: none; }
  .menu-lst a:hover {
    border-color: #e6e6e6;
    background-color: #f7f7f7; }

.menu-lst .arrow, .menu-lst .arrow b {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border-style: dashed;
  border-width: 5px;
  border-color: transparent; }

.menu-lst .arrow, .menu-lst .arrow b {
  border-left: 5px solid #fad996;
  top: 7px;
  right: -10px;
  display: none; }
  .menu-lst .arrow b {
    border-left: 5px solid #faeecf;
    top: -5px;
    right: -4px; }

.menu-lst .now a {
  border-color: #fad996;
  background-color: #faeecf;
  position: relative; }

.menu-lst .now .arrow, .menu-lst .now .arrow b, .menu-lst .arrow .now b {
  display: inline-block; }

.menu-single {
  margin: 5px 0 10px; }

.side-switch {
  position: fixed;
  left: 189px;
  top: 40%;
  display: inline-block;
  width: 12px;
  height: 18px;
  background: url(../../../../img/back/side_switch.png) no-repeat;
  cursor: pointer;
  z-index: 99; }
  .side-switch:hover {
    background-position: -12px 0; }

.side-open .side-switch {
  background-position: 0 -18px; }
  .side-open .side-switch:hover {
    background-position: -12px -18px; }

.side-wrap,
.main {
  position: absolute;
  left: 0;
  top: 70px;
  bottom: 0; }

.side-wrap {
  width: 189px;
  background-color: #fff;
  border-right: 1px solid #dadada;
  overflow: auto;
  z-index: 99; }

/* ======main====== */
.main {
  left: 190px;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: #fafafa; }

::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-track {
  background-color: #f2f2f2; }

::-webkit-scrollbar-thumb {
  background-color: #cad4e0;
  border-radius: 5px; }

::-webkit-scrollbar-thumb:hover {
  background-color: #b0c2d8; }

::-webkit-scrollbar-thumb:active {
  background-color: #8fa5bf; }

/*==== side style for home page  =====*/
.menu-hd .extend-edit,
.menu-hd .extend-finish {
  font-weight: normal;
  font-size: 12px; }

.menu-hd .extend-edit:link,
.menu-hd .extend-edit:visited {
  color: #50b4eb; }

.menu-hd .extend-finish:link,
.menu-hd .extend-finish:visited {
  color: #ff6450; }

.menu-wrap .solid {
  border-bottom: 1px solid #ebebeb; }

.menu-lst-edit {
  margin: 10px 0; }

.menu-lst-edit li {
  position: relative; }

.menu-lst-edit li .icon {
  display: none; }

.menu-lst-edit li:hover .icon-minus-circle {
  background-position: -80px -240px; }

.menu-lst-edit .icon-minus-circle {
  position: absolute;
  top: 4px;
  right: 4px; }

.menu-lst-edit .icon-add-circle {
  margin-bottom: 3px; }

.menu-lst-editing a {
  border: 1px solid #e6e6e6;
  background-color: #f7f7f7; }

.menu-lst-editing li .icon {
  display: inline-block; }

.menu-lst-editing .menu-add-portal a {
  padding-left: 40px; }

.menu-lst-editing .menu-add-portal .icon-add-circle {
  position: absolute;
  top: 5px;
  left: 20px; }

.menu-lst-editing .menu-add-portal,
.menu-lst-editing .menu-add-portal:hover {
  border-color: #fad996;
  background-color: #faeecf; }

.menu-lst-editing .menu-add-portal:hover .icon-add-circle {
  background-position: -64px -240px; }

.header--orange {
  background-color: #e64b29;
  background-image: -moz-linear-gradient(top, ef522f 0, #dc4523 80%);
  background-image: -webkit-linear-gradient(top, ef522f 0, #dc4523 80%);
  background-image: -o-linear-gradient(top, ef522f 0, #dc4523 80%);
  background-image: linear-gradient(to bottom, ef522f 0, #dc4523 80%);
  border-bottom: 1px solid #cd3001; }
  .header--orange .header-link {
    border-right: 1px solid #cd3001;
    border-right: 1px solid rgba(0, 0, 0, 0.25); }
  .header--orange .header-nav li:hover,
  .header--orange .header-nav .current {
    background-color: #cd3001; }
  .header--orange .header-side-item:hover .item-tit,
  .header--orange .header-side-item:hover > ul {
    background-color: #cd3001; }
  .header--orange .header-side .header-side-item {
    border-right: 1px solid #cd3001;
    border-right: 1px solid rgba(0, 0, 0, 0.25); }
    .header--orange .header-side .header-side-item:first-child {
      border-right: none; }
    .header--orange .header-side .header-side-item > ul a:hover {
      background-color: #ef5738; }

.header--cyan {
  background-color: #1ba3c9;
  background-image: -moz-linear-gradient(top, #1ba3c9 0, #0a92b8 80%);
  background-image: -webkit-linear-gradient(top, #1ba3c9 0, #0a92b8 80%);
  background-image: -o-linear-gradient(top, #1ba3c9 0, #0a92b8 80%);
  background-image: linear-gradient(to bottom, #1ba3c9 0, #0a92b8 80%);
  border-right: 1px solid #086e8a;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #086e8a;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25); }
  .header--cyan .header-link {
    border-right: 1px solid #086e8a;
    border-right: 1px solid rgba(0, 0, 0, 0.25); }
  .header--cyan .header-nav li:hover,
  .header--cyan .header-nav .current {
    background-color: #086e8a; }
  .header--cyan .header-side-item:hover .item-tit,
  .header--cyan .header-side-item:hover > ul {
    background-color: #086e8a; }
  .header--cyan .header-side .header-side-item {
    border-right: 1px solid #086e8a;
    border-right: 1px solid rgba(0, 0, 0, 0.25); }
    .header--cyan .header-side .header-side-item:first-child {
      border-right: none; }
    .header--cyan .header-side .header-side-item > ul a:hover {
      background-color: #1ba3c9; }

.header--black {
  background-color: #333;
  background-image: -moz-linear-gradient(top, #666666 0%, #2B2B2B 80%);
  background-image: -webkit-linear-gradient(top, #666666 0%, #2B2B2B 80%);
  background-image: -o-linear-gradient(top, #666666 0%, #2B2B2B 80%);
  background-image: linear-gradient(to bottom, #666666 0%, #2B2B2B 80%);
  border-right: 1px solid #272727;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #272727;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25); }
  .header--black .header-link {
    border-right: 1px solid #272727;
    border-right: 1px solid rgba(0, 0, 0, 0.25); }
  .header--black .header-nav li:hover,
  .header--black .header-nav .current {
    background-color: #272727; }
  .header--black .header-side-item:hover .item-tit,
  .header--black .header-side-item:hover > ul {
    background-color: #272727; }
  .header--black .header-side .header-side-item {
    border-right: 1px solid #272727;
    border-right: 1px solid 1px solid rgba(0, 0, 0, 0.25); }
    .header--black .header-side .header-side-item:first-child {
      border-right: none; }
    .header--black .header-side .header-side-item > ul a:hover {
      background-color: #666666; }

.header--blue {
  background-color: #00628C;
  background-image: -moz-linear-gradient(top, #00628C 0, #377bff 80%);
  background-image: -webkit-linear-gradient(top, #00628C 0, #377bff 80%);
  background-image: -o-linear-gradient(top, #00628C 0, #377bff 80%);
  background-image: linear-gradient(to bottom, #00628C 0, #377bff 80%);
  border-right: 1px solid #275bba;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #275bba;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25); }
  .header--blue .header-link {
    border-right: 1px solid #275bba;
    border-right: 1px solid rgba(0, 0, 0, 0.25); }
  .header--blue .header-nav li:hover,
  .header--blue .header-nav .current {
    background-color: #275bba; }
  .header--blue .header-side-item:hover .item-tit,
  .header--blue .header-side-item:hover > ul {
    background-color: #275bba; }
  .header--blue .header-side .header-side-item {
    border-right: 1px solid #275bba;
    border-right: 1px solid rgba(0, 0, 0, 0.25); }
    .header--blue .header-side .header-side-item:first-child {
      border-right: none; }
    .header--blue .header-side .header-side-item > ul a:hover {
      background-color: #00628C; }

.header--yellow {
  background-color: #e6c829;
  background-image: -moz-linear-gradient(top, #DCAC00 0%, #DECF04 80%);
  background-image: -webkit-linear-gradient(top, #DCAC00 0%, #DECF04 80%);
  background-image: -o-linear-gradient(top, #DCAC00 0%, #DECF04 80%);
  background-image: linear-gradient(to bottom, #DCAC00 0%, #DECF04 80%);
  border-right: 1px solid #a69b03;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #a69b03;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25); }
  .header--yellow .header-link {
    border-right: 1px solid #a69b03;
    border-right: 1px solid rgba(0, 0, 0, 0.25); }
  .header--yellow .header-nav li:hover,
  .header--yellow .header-nav .current {
    background-color: #a69b03; }
  .header--yellow .header-side-item:hover .item-tit,
  .header--yellow .header-side-item:hover > ul {
    background-color: #a69b03; }
  .header--yellow .header-side .header-side-item {
    border-right: 1px solid #a69b03;
    border-right: 1px solid rgba(0, 0, 0, 0.25); }
    .header--yellow .header-side .header-side-item:first-child {
      border-right: none; }
    .header--yellow .header-side .header-side-item > ul a:hover {
      background-color: #DCAC00; }

.header--green {
  background-color: #0b8800;
  background-image: -moz-linear-gradient(top, #0b8800 0%, #1c9911 80%);
  background-image: -webkit-linear-gradient(top, #0b8800 0%, #1c9911 80%);
  background-image: -o-linear-gradient(top, #0b8800 0%, #1c9911 80%);
  background-image: linear-gradient(to bottom, #0b8800 0%, #1c9911 80%);
  border-right: 1px solid #15720c;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #15720c;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25); }
  .header--green .header-link {
    border-right: 1px solid #15720c;
    border-right: 1px solid rgba(0, 0, 0, 0.25); }
  .header--green .header-nav li:hover,
  .header--green .header-nav .current {
    background-color: #15720c; }
  .header--green .header-side-item:hover .item-tit,
  .header--green .header-side-item:hover > ul {
    background-color: #15720c; }
  .header--green .header-side .header-side-item {
    border-right: 1px solid #15720c;
    border-right: 1px solid rgba(0, 0, 0, 0.25); }
    .header--green .header-side .header-side-item:first-child {
      border-right: none; }
    .header--green .header-side .header-side-item > ul a:hover {
      background-color: #0b8800; }

/*# sourceMappingURL=../../../sourcemaps/site/component/oss_layout.css.map */
