/*
 * des topbar
 */
.topbar {
  border: 1px solid #d3e0e9;
  padding: 9px;
  background-color: #f2f7fa;
  position: relative;
  *zoom: 1; }

.topbar:after {
  display: block;
  height: 0;
  content: "\0020";
  visibility: hidden;
  font-size: 0;
  clear: both; }

.topbar .btn {
  font-family: '\5B8B\4F53'; }

.topbar .drop-lst {
  width: 208px; }

.topbar-row {
  *zoom: 1;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px; }

.topbar-row:after {
  display: block;
  height: 0;
  content: "\0020";
  visibility: hidden;
  font-size: 0;
  clear: both; }

.topbar-row .keywordTip {
  position: absolute; }

.topbar-row .drop-lst {
  left: 82px; }

.topbar-row-last {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0; }

.topbar-row-tit, .topbar-row-bd {
  float: left;
  line-height: 2; }

.topbar-row-tit {
  margin: 0 5px; }

.topbar-row-item {
  float: left;
  margin-right: 15px;
  padding-left: 5px; }

.topbar-lft,
.topbar-mid {
  float: left;
  height: 26px;
  line-height: 26px; }

.topbar-lft {
  padding-right: 10px;
  border-right: 1px solid #d3e0e9; }

.topbar select {
  margin-right: 5px; }

.topbar .choose-group {
  margin: 0 20px; }

.topbar .choose-group label {
  display: inline-block;
  margin-right: 10px; }

.topbar-search {
  display: inline-block;
  letter-spacing: -2px;
  *letter-spacing: normal;
  word-spacing: -1px;
  *display: inline; }

.topbar-search .txt {
  border-right: none;
  letter-spacing: normal;
  word-spacing: normal; }

.topbar-search .topbar-search-btn {
  width: 25px;
  height: 26px;
  margin-left: -4px;
  background: url(../../../../../../img/back/topbar-search-btn.png) no-repeat;
  letter-spacing: normal;
  word-spacing: normal; }

.topbar .search-result {
  padding: 0 10px;
  color: #666;
  display: inline-block;
  line-height: 26px; }

.topbar .search-result strong {
  padding: 0 3px; }

.topbar .icon {
  margin-right: 5px; }

.topbar .selct-cate span {
  margin-right: 5px;
  _display: inline-block;
  cursor: pointer; }

.topbar .drop-lst li {
  letter-spacing: 0; }

.topbar-mid {
  margin-left: 10px; }

.topbar-mid label {
  _display: inline-block; }

/*----add by wyz for supplier js-bind-goods  pop--2015-01-15*/
.topbar-catalog {
  display: inline-block;
  margin-left: 10px; }

.first-panel .txt--auto {
  height: 26px; }

.fold-sup .fold-bd {
  padding: 20px 20px 10px 20px;
  border: 1px solid #ccc;
  background-color: #fff; }

.fold-sup .fold-sub {
  margin-top: 20px; }
  .fold-sup .fold-sub:first-child {
    margin-top: 0; }

.fold-sup .fold-sub-hd {
  margin-bottom: 5px; }

.poptip-sup-type .poptip {
  right: 0;
  left: -16px; }

.sheet > tbody > tr > .celleditable .cell-optios {
  border-right: 1px solid #ccc; }

.options {
  display: inline-block; }
  .options label {
    margin-left: 15px; }

.sub-hd {
  margin-bottom: 20px; }
  .sub-hd h3 {
    font-size: 14px; }

.tab-sup {
  margin-top: 40px; }

.flop-item {
  float: left;
  width: 33%;
  box-sizing: border-box;
  margin-bottom: 20px; }

.flop-box {
  height: 170px;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #e6e6e6;
  background-color: #fff; }

.flop-hd {
  overflow: hidden; }
  .flop-hd h4 {
    float: left; }
  .flop-hd .name {
    font-size: 14px;
    margin-right: 5px; }
  .flop-hd .sex {
    font-weight: normal; }

.flop-bd {
  margin: 10px 0; }

.contact-lst li {
  padding-left: 40px;
  line-height: 22px;
  width: 80%;
  overflow: hidden; }
  .contact-lst li .tit {
    float: left;
    margin-left: -40px;
    color: #999; }

.flop-add {
  text-align: center; }
  .flop-add a {
    display: block;
    margin-top: 60px; }
  .flop-add .icon {
    display: block;
    margin: 0 auto; }

.label-lst:before, .label-lst:after {
  content: " ";
  display: table;
  height: 0;
  visibility: hidden;
  font-size: 0; }

.label-lst:after {
  clear: both; }

.label-lst li {
  float: left;
  margin: 0 10px 10px 0;
  padding: 3px 15px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 4px; }

.sel-mark-wrap:before, .sel-mark-wrap:after {
  content: " ";
  display: table;
  height: 0;
  visibility: hidden;
  font-size: 0; }

.sel-mark-wrap:after {
  clear: both; }

.sel-mark {
  float: left;
  width: 100px;
  padding: 0 10px;
  margin: 0 15px 10px 0;
  border: 1px solid #ccc;
  background-color: #f8f8f8; }
  .sel-mark .txt {
    float: left;
    width: 75px;
    margin-left: -10px;
    padding-left: 10px;
    border: none; }
    .sel-mark .txt:hover {
      background: #fff; }
  .sel-mark input:focus {
    background: #fff; }
  .sel-mark .icon-close {
    float: right;
    margin-top: 4px; }

.sel-mark-selct {
  border-color: #3aaf2e;
  background-color: #dff9c9; }

.add-mark .btn {
  margin-left: 5px; }

.pop-manage-mark .sel-mark {
  background: #fff; }
  .pop-manage-mark .sel-mark:hover {
    border-color: #208adc; }

.sheet .form-text {
  padding: 7px 10px;
  white-space: pre-line; }

.uploadAttach {
  vertical-align: top; }

.sup-pic {
  position: relative; }
  .sup-pic .icon-close {
    position: absolute;
    top: 0;
    right: -20px; }

.upload-hidden {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 10; }

.pop-sub-hd {
  font-size: 14px;
  text-align: center;
  margin: 10px 0; }

.tab-js .sheet > tbody > tr > .celleditable .celleditable-wrap .hide {
  display: none; }

.fold-eval .fold-bd {
  border: 1px solid #ccc;
  padding-right: 420px; }
  .fold-eval .fold-bd:before, .fold-eval .fold-bd:after {
    content: " ";
    display: table;
    height: 0;
    visibility: hidden;
    font-size: 0; }
  .fold-eval .fold-bd:after {
    clear: both; }

.eval-main {
  float: left;
  width: 100%;
  height: 380px;
  margin-top: -1px;
  margin-left: -1px; }
  .eval-main .form-lst {
    height: 260px;
    padding: 20px 0;
    border-left: 1px solid #ccc;
    background-color: #fff; }
  .eval-main textarea {
    width: 500px;
    height: 182px; }

.eval-side {
  position: relative;
  left: -1px;
  float: right;
  width: 420px;
  height: 380px;
  margin-right: -420px;
  border-left: 1px solid #ccc;
  background-color: #f7f7f7; }

.selected-lst {
  display: inline-block;
  line-height: 1; }

.selected-lst li {
  display: inline-block;
  height: 24px;
  line-height: 26px;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 0 5px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  min-width: 70px;
  text-align: center;
  vertical-align: middle;
  position: relative; }

.selected-lst .icon-close {
  position: absolute;
  top: -1px;
  right: -1px;
  display: none; }

.selected-lst li:hover .icon-close {
  display: block; }

.selected-show-lst li {
  border: none;
  background-color: transparent; }

.selected-show-lst .contact {
  top: -1px;
  left: 3px; }

.selected-show-lst .contact .poptip {
  padding: 0 10px;
  top: -62px;
  right: -185px;
  display: none; }

.selected-show-lst li:hover .contact .poptip {
  display: block; }

.fold-bd .tb-eval td {
  vertical-align: middle; }

.fold-bd .tb-eval tfoot td {
  background-color: #fefce5;
  border-right: none;
  border-left: none;
  font-weight: bold; }

.tb-eval tfoot td:first-child {
  border-left: 1px solid #ccc; }

.tb-eval tfoot td:last-child {
  border-right: 1px solid #ccc; }

.tb-eval .tb--none td {
  font-weight: bold;
  border-bottom: 1px solid #ccc; }

.main-bd {
  padding-bottom: 120px; }

/* tb-res-cate */
.tb-res-cate {
  color: #333;
  border: 1px solid #bbb; }

.tb-res-cate th {
  font-weight: bold;
  border-color: #bbb;
  padding-left: 15px; }

.tb-res-cate td {
  border: none;
  border-top: 1px dotted #bbb;
  border-left: 1px solid #bbb;
  vertical-align: top;
  padding-left: 5px; }

.tb-res-cate .cate-num {
  text-align: center; }

.tb-res-cate .top-row td {
  border-top: 2px solid #bbb; }

.tb-res-cate .cate-lib {
  display: inline-block;
  border: 1px solid #fff;
  position: relative; }

.tb-res-cate .even .cate-lib {
  border-color: #f7f7f7; }

.tb-res-cate .cate-lib a:hover {
  text-decoration: none; }

.cate-lib dt {
  padding: 3px 9px;
  min-width: 85px;
  cursor: default;
  overflow: hidden;
  *zoom: 1; }

.cate-lib .cate-name {
  float: left;
  max-width: 190px;
  margin-right: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.cate-lib .drop-arrow {
  float: right;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border-style: dashed;
  border-width: 4px;
  border-color: transparent;
  border-top: 4px solid #fff;
  margin-top: 7px; }

.tb-res-cate dd {
  display: none;
  padding: 3px 9px;
  min-width: 80px;
  background-color: #fffeec;
  box-shadow: 0px 3px 6px #ccc;
  border: 1px solid #ccc;
  border-top-color: #f1ebc9;
  border-radius: 0 0 3px 3px;
  position: absolute;
  top: 24px;
  left: -1px;
  z-index: 9; }

.tb-res-cate dd a {
  display: block;
  height: 24px;
  line-height: 24px;
  width: 100%; }

.tb-res-cate .cate-third {
  padding-left: 6px; }

.cate-third dd {
  min-width: 85px; }

.cate-third dt {
  background-color: #f4f4f4;
  min-width: 30px; }

.cate-third .drop-arrow {
  border-top-color: #f4f4f4; }

/* renew */
.tb-res-cate .cate-first {
  vertical-align: middle; }

.tb-res-cate .cate-hover {
  border-color: #ccc;
  border-radius: 3px 3px 0 0; }

.tb-res-cate .cate-hover dt {
  background-color: #FFF; }

.tb-res-cate .cate-hover .drop-arrow {
  border-top: 4px solid #858585; }

/* pop cate */
.pop-new-cate {
  width: 450px; }

.pop-new-cate .add-cate-groups {
  max-height: 250px; }

.pop-alert {
  width: 370px; }

.poptip-wrap .poptip .arrow-bottom {
  left: 220px; }

.black-list .poptip .arrow-bottom {
  left: 182px; }

.reaudit .poptip .arrow-bottom {
  left: 232px; }

/* reset */
.tb .area span {
  margin-right: 5px; }

.state-panel {
  font-size: 14px;
  margin: 0 0 20px 0; }

.sup-name {
  font: normal 18px/32px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","\534E\6587\7EC6\9ED1";
  margin-bottom: 15px; }

.tab {
  margin-top: 60px; }

.opt-tab {
  margin: 20px 0 15px; }

.audit-ope textarea {
  width: 500px; }

.main-txt {
  font-size: 14px;
  margin-bottom: 20px; }

.panel-info-add .res-cate-wrap {
  z-index: 500; }

.fold-info .fold-hd {
  padding: 5px 0; }

.fold-info .fold-main-bd {
  margin-bottom: 20px; }

.fold-info .fold-sub-hd {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #eaeaea; }

/* tags-lst */
.tags-lst {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
  *zoom: 1; }

.tags-lst li {
  float: left;
  padding: 0 10px;
  margin-right: 10px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #afc4db;
  background-color: #dce8f5; }

.set-tag-lst {
  overflow: hidden;
  *zoom: 1; }

.pop-set-tag {
  width: 560px; }

.pop-set-tag .tip {
  margin-top: 10px; }

.set-tag-lst li {
  float: left;
  width: 120px;
  margin-right: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.add-tag-lst li {
  margin-bottom: 10px; }

.txta-large {
  height: 240px;
  width: 420px; }

.tb .cert-tit {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #666; }

/* filter tag */
.flt-tag {
  margin-top: -1px;
  padding: 10px 5px 5px;
  border: 1px solid #d3dde7;
  background-color: #f2f7fa;
  overflow: hidden;
  *zoom: 1; }

.flt-tag .flt-tag-tit {
  float: left;
  width: 90px;
  text-align: right;
  line-height: 2; }

.flt-tag .flt-tag-bd {
  padding-left: 95px;
  line-height: 2; }

/* sup-list */
.tb .tb-tel {
  display: inline-block;
  margin-right: 5px; }

/* set label */
.label-lst {
  overflow: hidden;
  *zoom: 1; }

.label-lst li {
  float: left;
  margin: 0 10px 10px 0;
  padding: 3px 15px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 4px; }

.sel-mark-wrap {
  overflow: hidden;
  *zoom: 1; }

.sel-mark {
  float: left;
  width: 100px;
  padding: 0 10px;
  margin: 0 15px 10px 0;
  border: 1px solid #ccc;
  background-color: #f8f8f8; }

.sel-mark .txt {
  float: left;
  width: 75px;
  margin-left: -10px;
  padding-left: 10px;
  border: none; }

.sel-mark .txt:hover {
  background: #fff; }

.sel-mark input:focus {
  background: #fff; }

.sel-mark-selct {
  border-color: #3aaf2e;
  background-color: #dff9c9; }

.sel-mark .icon-close {
  float: right;
  margin-top: 4px; }

.add-mark .btn {
  margin-left: 5px; }

.pop-manage-mark .sel-mark {
  background: #fff; }

.pop-manage-mark .sel-mark:hover {
  border-color: #208adc; }

/* company show */
.tb-default-set {
  margin-top: 40px; }

.tb-default-set .total {
  font-size: 16px;
  color: #e04b43; }

.goods-state {
  display: inline-block;
  margin-left: 5px;
  padding: 0 3px;
  border: 1px solid #3aaf2e;
  background-color: #dff9c9; }

/* set sup info */
.tip-sub-set {
  margin-bottom: 10px;
  width: 797px; }

.tb-sup-set {
  width: 840px; }

.poptip-abc {
  top: 488px;
  left: 36px;
  width: 300px; }

.poptip-abc .arrow-bottom {
  left: 96px; }

.tb-sup-set th,
.tb-sup-set td {
  text-align: center; }

.tb-sup-set .thd {
  background-color: #f8f8f8; }

.tb-sup-set .tb-hd td {
  padding: 10px;
  text-align: left; }

.tb-sup-set .tb-hd .caption {
  overflow: hidden;
  *zoom: 1; }

.tb-sup-set .tb-hd .caption strong {
  display: inline-block;
  margin-right: 15px; }

.tb-sup-set .tb-hd .icon-close {
  float: right;
  margin-top: 4px; }

.tb-sup-set .tb-ope td {
  text-align: left; }

.tb-sup-set .tb-ope .btn {
  margin-left: 5px; }

.tb-sup-set label {
  margin-right: 10px; }

.add-more {
  margin: -10px 0 20px; }

/* pop */
.pop-add-mark {
  width: 450px; }

.main-ope-left {
  margin-left: 130px; }

/* pop - relate sup */
.pop-tb {
  /*width:800px;*/ }

/* pop preview */
.pop-preview {
  width: 700px; }

.pop-preview .pop-bd {
  max-height: 660px;
  overflow-y: scroll;
  *height: 660px; }

.pop-preview .preview .sub-hd {
  font-size: 14px;
  padding: 7px 0;
  border-bottom: 1px dashed #e0e0e0;
  color: #666; }

.pop-preview .preview .form-lst {
  margin-bottom: 30px; }

.pop-preview .top-border {
  border-top: 1px dashed #ccc;
  padding-top: 20px; }

.pop-eval {
  width: 655px; }

.pop-eval .pop-bd {
  height: 420px;
  overflow-y: scroll; }

.pop-eval .pop-bd .icon-stop {
  margin-right: 4px; }

.pop-accnt {
  width: 750px; }

.pop-accnt p {
  color: #666; }

.pop-accnt-node {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #ddd; }

.pop-accnt .form-lst:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
  clear: both; }

/*.pop-accnt .field-tit{
	width:70px;
	margin-left:-35px;
}*/
.pop-accnt-node .form-lst {
  float: left;
  width: 355px; }

/*.pop-accnt .field{
    padding-left: 50px;
}*/
.pop-accnt-node .form-lst,
.pop-accnt-node .field,
.pop-accnt-node .field-bd {
  overflow: visible; }

/* add supplier: sup-disabled-masker */
.panel-info-add {
  padding: 10px 20px;
  margin-bottom: 60px; }

.panel-info-add h3 {
  margin: 5px 10px; }

.panel-info-show h3 {
  margin: 5px 15px;
  font-size: 16px; }

.panel-info-show p {
  margin: 0 15px 5px; }

.sup-disabled-masker {
  background-color: #f1f1f1;
  opacity: .6;
  filter: alpha(opacity=50);
  position: absolute;
  width: 90%;
  height: 100%;
  z-index: 499;
  margin: -8px 0 0 -8px;
  border: 2px dotted #d8d8d8; }

.sup-masker-tips {
  width: 333px;
  height: 44px;
  border: 2px dotted #d8d8d8;
  border-bottom: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  text-align: center;
  font: bold 16px/44px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","\534E\6587\7EC6\9ED1";
  color: #333;
  position: absolute;
  top: -45px;
  left: 35%; }

/* rebuild supplier detail page*/
.info-lst {
  margin-top: 10px;
  font-size: 14px; }

.info-lst .required {
  margin-left: -7px; }

.info-lst .cell {
  margin-right: 20px; }

.info-lst .cell .split {
  margin: 0 2px; }

.panel-ft {
  margin: 20px 10px 10px; }

.panel-ft .btn-edit {
  float: left;
  margin-right: 15px; }

.com-state {
  float: left;
  margin: 2px 0 0 15px;
  padding: 1px 10px;
  border: 1px solid #e8701a;
  border-radius: 3px;
  background-color: #f2883d;
  color: #fff;
  font-weight: bold;
  font-size: 12px; }

/*flop-board*/
.flop-item {
  float: left;
  width: 33%;
  box-sizing: border-box;
  margin-bottom: 20px; }

.flop-box {
  height: 170px;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #e6e6e6;
  background-color: #fff; }

.flop-hd {
  overflow: hidden; }

.flop-hd h4 {
  float: left; }

.flop-hd .name {
  font-size: 14px;
  margin-right: 5px; }

.flop-hd .sex {
  font-weight: normal; }

.flop-bd {
  margin: 10px 0; }

.contact-lst li {
  padding-left: 40px;
  line-height: 22px;
  width: 80%;
  overflow: hidden; }

.contact-lst .tit {
  float: left;
  margin-left: -40px;
  color: #999; }

.flop-add {
  text-align: center; }

.flop-add a {
  display: block;
  margin-top: 60px; }

.flop-add .icon {
  display: block;
  margin: 0 auto; }

.tb-form td {
  word-wrap: break-word; }

.main-bd-compact {
  position: relative; }

.main-bd .main-compact {
  margin: -20px 0 30px -20px;
  padding: 20px;
  border-bottom: 1px dashed #e0e0e0;
  background-color: #fff; }

.tb-custom-wrapper {
  position: relative; }

.poptip-abc {
  top: 40px;
  left: 133px;
  width: 300px;
  z-index: 100;
  color: #333; }

.fold-abc-set {
  /*margin-top: 30px;*/
  /*width:520px;*/ }

.fold-abc-set .tb-mid {
  width: 420px; }

.fold-abc-set .field {
  padding-left: 100px; }

.fold-abc-set .field-tit {
  left: 0px;
  width: 90px;
  text-align: left; }

.fold-abc-set .ta-mid {
  width: 414px; }

.select-group {
  display: inline-block;
  vertical-align: middle;
  position: relative; }

.select-group label {
  float: left;
  padding: 3px 10px;
  width: 46px;
  word-spacing: normal;
  border: 1px solid #a2b9cc;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  position: relative; }

.select-group label + label {
  margin-left: -1px; }

.select-group label .icon-select {
  position: absolute;
  z-index: 1;
  top: -7px;
  right: -6px;
  display: none; }

.select-group label.selected {
  border-color: #3aaf2e;
  background-color: #dff9c9; }

.select-group label.selected .icon-select {
  display: block; }

.try-result {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  width: 100%;
  border-collapse: collapse;
  padding: 3px 0; }

.try-result-l, .try-result-r {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle; }

.try-result-l {
  padding-left: 109px;
  padding-right: 10px; }

.try-result-r {
  padding-left: 10px;
  border-left: 1px solid #eee; }

.try-result-item {
  padding: 5px 0;
  font-size: 14px;
  line-height: 24px; }

.result-item-tit {
  display: inline-block;
  width: 70px; }

.applied-wrap {
  display: none; }

.apply-to-goods-wrap .tip {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px; }

/*# sourceMappingURL=../../../../../sourcemaps/site/module/oss/material/m_supplier.css.map */
