body{
	font-family:'Microsoft Yahei';
}
h1,h2,h3,h4,h5{
	font-weight:bold;
}
h2{
	padding-bottom:5px;
	border-bottom:1px solid #d9d9d9;
}

h4,h5,h6{
	margin-top:20px;
}

.iframe-wrap{
	position:relative;
	padding:20px;
	border:1px solid #e1e1e8;
	border-radius: 4px;
}
.iframe-wrap:before{
  position: absolute;
  top: 0;
  right: 0;
  content: "demo";
  padding: 0 5px;
  background-color: #ddd;
  border-radius: 0 0 0 4px;
  color: #666;
  font-size:12px;
}
.iframe-wrap .code-switch{
	position:absolute;
	bottom:0;
	right:0;
	height:20px;
	padding:0 4px;
	line-height:20px;
	text-align:center;
	background:#ddd;
	color:#666;
	font-size:12px;
	cursor:pointer;
	border-radius: 4px 0 0 0 ;
}
.iframe-wrap + .prettyprint{
	display:none;
}
iframe{
	width:100%;
	border:none;
}