@charset "UTF-8";
* {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  width: 100%;
  height: 100%;
  font-size: 20px; }

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

img {
  border: 0 none;
  vertical-align: top; }

i, em {
  font-style: normal; }

ol, ul {
  list-style: none; }

input, select, button, h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: inherit; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #666; }

body {
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
  line-height: 1.5;
  color: #666;
  background-color: #f2f2f2;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important; }

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #f2f2f2 inset;
  -moz-box-shadow: 0 0 0 50px #f2f2f2 inset;
  box-shadow: 0 0 0 50px #f2f2f2 inset; }

input[type="text"], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px #f2f2f2 inset;
  -moz-box-shadow: 0 0 0 50px #f2f2f2 inset;
  box-shadow: 0 0 0 50px #f2f2f2 inset;
  -webkit-text-fill-color: #333; }

button {
  display: inline-block;
  border: none;
  outline: none;
  vertical-align: middle;
  text-align: center;
  background: transparent; }

::-webkit-scrollbar {
  display: none; }

.orange {
  color: #ed9853; }

.red, .wxlogin-error {
  color: #e04b43; }

.gray {
  color: #999; }

.green {
  color: #199900; }

@font-face {
  font-family: 'iconfont';
  src: url("/assets/img/fonts/iconfont.eot");
  /* IE9*/
  src: url("/assets/img/fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("/assets/img/fonts/iconfont.woff") format("woff"), url("/assets/img/fonts/iconfont.svg#iconfont") format("svg"), url("/assets/img/fonts/iconfont.ttf") format("truetype");
  /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ }

.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle; }

.icon-warn:before {
  content: "\e664"; }

.icon-mail:before {
  content: "\e600"; }

.icon-tel:before {
  content: "\e601"; }

.icon-storage2:before {
  content: "\e602"; }

.icon-audit:before {
  content: "\e603"; }

.icon-person:before {
  content: "\e604"; }

.icon-auth:before {
  content: "\e605"; }

.icon-home:before {
  content: "\e606"; }

.icon-link:before {
  content: "\e608"; }

.icon-rank-online:before {
  content: "\e609"; }

.icon-bid-online:before {
  content: "\e60a"; }

.icon-bid:before {
  content: "\e60b"; }

.icon-storage:before {
  content: "\e60c"; }

.icon-transfer:before {
  content: "\e60d"; }

.icon-order-plan:before {
  content: "\e60e"; }

.icon-inspect:before {
  content: "\e60f"; }

.icon-receive:before {
  content: "\e610"; }

.icon-order:before {
  content: "\e611"; }

.icon-setting-global:before {
  content: "\e612"; }

.icon-data-edit:before {
  content: "\e613"; }

.icon-setting:before {
  content: "\e614"; }

.icon-account:before {
  content: "\e615"; }

.icon-book:before {
  content: "\e616"; }

.icon-billboard:before {
  content: "\e617"; }

.icon-exchage:before {
  content: "\e618"; }

.icon-cart:before {
  content: "\e619"; }

.icon-report:before {
  content: "\e61a"; }

.icon-bid-archive:before {
  content: "\e61b"; }

.icon-paper-check:before {
  content: "\e61c"; }

.icon-paper:before {
  content: "\e61d"; }

.icon-paper-edit:before {
  content: "\e61e"; }

.icon-supplier:before {
  content: "\e61f"; }

.icon-goods:before {
  content: "\e620"; }

.icon-shortcut:before {
  content: "\e621"; }

.icon-store-out:before {
  content: "\e622"; }

.icon-store-in:before {
  content: "\e623"; }

.icon-store:before {
  content: "\e624"; }

.icon-rank:before {
  content: "\e625"; }

.icon-fold:before {
  content: "\e626"; }

.icon-contract:before {
  content: "\e627"; }

.icon-inquiry:before {
  content: "\e628"; }

.icon-invoice:before {
  content: "\e629"; }

.icon-payment:before {
  content: "\e62a"; }

.icon-request:before {
  content: "\e62b"; }

.icon-appoint:before {
  content: "\e62c"; }

.icon-project:before {
  content: "\e62d"; }

.icon-add-person:before {
  content: "\e62e"; }

.icon-arrow-up3:before {
  content: "\e62f"; }

.icon-arrow-down3:before {
  content: "\e630"; }

.icon-plus-solid2:before {
  content: "\e631"; }

.icon-plus-solid:before {
  content: "\e632"; }

.icon-minus-circle2:before {
  content: "\e633"; }

.icon-minus-circle:before {
  content: "\e634"; }

.icon-class-a:before {
  content: "\e635"; }

.icon-class-b:before {
  content: "\e636"; }

.icon-class-c:before {
  content: "\e637"; }

.icon-price:before {
  content: "\e638"; }

.icon-lock:before {
  content: "\e639"; }

.icon-trash:before {
  content: "\e63a"; }

.icon-trash-2:before {
  content: "\e63b"; }

.icon-area-graph:before {
  content: "\e63c"; }

.icon-import:before {
  content: "\e63d"; }

.icon-cross-empty:before {
  content: "\e63f"; }

.icon-clock:before {
  content: "\e640"; }

.icon-refresh:before {
  content: "\e641"; }

.icon-choose:before {
  content: "\e642"; }

.icon-select-2:before {
  content: "\e643"; }

.icon-line-graph:before {
  content: "\e644"; }

.icon-bar-graph:before {
  content: "\e645"; }

.icon-arrow-left2:before {
  content: "\e646"; }

.icon-arrow-top2:before {
  content: "\e647"; }

.icon-arrow-bottom2:before {
  content: "\e648"; }

.icon-arrow-right2:before {
  content: "\e649"; }

.icon-cross-squre:before {
  content: "\e64a"; }

.icon-arrow-top:before {
  content: "\e64b"; }

.icon-star-solid:before {
  content: "\e64c"; }

.icon-question:before {
  content: "\e64d"; }

.icon-minus:before {
  content: "\e64e"; }

.icon-plus:before {
  content: "\e64f"; }

.icon-cross-solid:before {
  content: "\e650"; }

.icon-pencil:before {
  content: "\e651"; }

.icon-edit:before {
  content: "\e652"; }

.icon-check-solid:before {
  content: "\e653"; }

.icon-check-empty:before {
  content: "\e654"; }

.icon-arrow-down:before {
  content: "\e655"; }

.icon-delete:before {
  content: "\e656"; }

.icon-check:before {
  content: "\e657"; }

.icon-user:before {
  content: "\e658"; }

.icon-arrow-left4:before {
  content: "\e659"; }

.icon-arrow-top4:before {
  content: "\e65a"; }

.icon-arrow-btm4:before {
  content: "\e65b"; }

.icon-arrow-right4:before {
  content: "\e65c"; }

.icon-todo:before {
  content: "\e65d"; }

.icon-todo2:before {
  content: "\e65e"; }

.icon-home1:before {
  content: "\e65f"; }

.icon-home2:before {
  content: "\e660"; }

.icon-future:before {
  content: "\e661"; }

.icon-future2:before {
  content: "\e662"; }

.icon-info:before {
  content: "\e663"; }

.icon-link1:before {
  content: "\e665"; }

.icon-username:before {
  content: "\e667"; }

.icon-menu:before {
  content: "\e668"; }

.icon-shutdown:before {
  content: "\e669"; }

.icon-mutiple:before {
  content: "\e66a"; }

.icon-quote:before {
  content: "\e66b"; }

.icon-refund:before {
  content: "\e66c"; }

.icon-branch:before {
  content: "\e66d"; }

.icon-accnt-manage:before {
  content: "\e666"; }

.icon-search:before {
  content: "\e766"; }

.icon-van:before {
  content: "\e767"; }

.icon-service:before {
  content: "\e768"; }

.icon-recruit:before {
  content: "\e769"; }

.icon-key:before {
  content: "\e76a"; }

.icon-wechat:before {
  content: "\e76b"; }

.icon-service-solid:before {
  content: "\e76c"; }

.icon-tel-solid:before {
  content: "\e76d"; }

.icon-mail-solid:before {
  content: "\e76e"; }

.icon-receipt:before {
  content: "\e76f"; }

.icon-calendar:before {
  content: "\e770"; }

.icon-business:before {
  content: "\e771"; }

.icon-seo:before {
  content: "\e772"; }

.icon-favorite:before {
  content: "\e773"; }

.icon-detail:before {
  content: "\e774"; }

.icon-business-manage:before {
  content: "\e775"; }

.icon-flow:before {
  content: "\e776"; }

.icon-privilege:before {
  content: "\e777"; }

.icon-friendly-link:before {
  content: "\e778"; }

.icon-showroom:before {
  content: "\e779"; }

.icon-senior-sales:before {
  content: "\e77a"; }

.icon-back-arrow:before {
  content: "\e77b"; }

.icon-gouwuche:before {
  content: "\e77c"; }

.icon-xunpanlan:before {
  content: "\e77d"; }

.icon-shopcart:before {
  content: "\e77c"; }

.icon-basket:before {
  content: "\e77d"; }

.icon-cert-id:before {
  content: "\e77e"; }

.icon-bxt:before {
  content: "\e674"; }

.icon-bxt-senior {
  color: #ca2e19; }

.icon-bxt-basic {
  color: #0065ac; }

.icon-nor {
  font-size: 32px;
  line-height: 32px; }

.icon-big {
  font-size: 48px;
  line-height: 48px; }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle; }

.iconfont-warn:before {
  content: "\e664"; }

.iconfont-mail:before {
  content: "\e600"; }

.iconfont-tel:before {
  content: "\e601"; }

.iconfont-storage2:before {
  content: "\e602"; }

.iconfont-audit:before {
  content: "\e603"; }

.iconfont-person:before {
  content: "\e604"; }

.iconfont-auth:before {
  content: "\e605"; }

.iconfont-home:before {
  content: "\e606"; }

.iconfont-link:before {
  content: "\e608"; }

.iconfont-rank-online:before {
  content: "\e609"; }

.iconfont-bid-online:before {
  content: "\e60a"; }

.iconfont-bid:before {
  content: "\e60b"; }

.iconfont-storage:before {
  content: "\e60c"; }

.iconfont-transfer:before {
  content: "\e60d"; }

.iconfont-order-plan:before {
  content: "\e60e"; }

.iconfont-inspect:before {
  content: "\e60f"; }

.iconfont-receive:before {
  content: "\e610"; }

.iconfont-order:before {
  content: "\e611"; }

.iconfont-setting-global:before {
  content: "\e612"; }

.iconfont-data-edit:before {
  content: "\e613"; }

.iconfont-setting:before {
  content: "\e614"; }

.iconfont-account:before {
  content: "\e615"; }

.iconfont-book:before {
  content: "\e616"; }

.iconfont-billboard:before {
  content: "\e617"; }

.iconfont-exchage:before {
  content: "\e618"; }

.iconfont-cart:before {
  content: "\e619"; }

.iconfont-report:before {
  content: "\e61a"; }

.iconfont-bid-archive:before {
  content: "\e61b"; }

.iconfont-paper-check:before {
  content: "\e61c"; }

.iconfont-paper:before {
  content: "\e61d"; }

.iconfont-paper-edit:before {
  content: "\e61e"; }

.iconfont-supplier:before {
  content: "\e61f"; }

.iconfont-goods:before {
  content: "\e620"; }

.iconfont-shortcut:before {
  content: "\e621"; }

.iconfont-store-out:before {
  content: "\e622"; }

.iconfont-store-in:before {
  content: "\e623"; }

.iconfont-store:before {
  content: "\e624"; }

.iconfont-rank:before {
  content: "\e625"; }

.iconfont-fold:before {
  content: "\e626"; }

.iconfont-contract:before {
  content: "\e627"; }

.iconfont-inquiry:before {
  content: "\e628"; }

.iconfont-invoice:before {
  content: "\e629"; }

.iconfont-payment:before {
  content: "\e62a"; }

.iconfont-request:before {
  content: "\e62b"; }

.iconfont-appoint:before {
  content: "\e62c"; }

.iconfont-project:before {
  content: "\e62d"; }

.iconfont-add-person:before {
  content: "\e62e"; }

.iconfont-arrow-up3:before {
  content: "\e62f"; }

.iconfont-arrow-down3:before {
  content: "\e630"; }

.iconfont-plus-solid2:before {
  content: "\e631"; }

.iconfont-plus-solid:before {
  content: "\e632"; }

.iconfont-minus-circle2:before {
  content: "\e633"; }

.iconfont-minus-circle:before {
  content: "\e634"; }

.iconfont-class-a:before {
  content: "\e635"; }

.iconfont-class-b:before {
  content: "\e636"; }

.iconfont-class-c:before {
  content: "\e637"; }

.iconfont-price:before {
  content: "\e638"; }

.iconfont-lock:before {
  content: "\e639"; }

.iconfont-trash:before {
  content: "\e63a"; }

.iconfont-trash-2:before {
  content: "\e63b"; }

.iconfont-area-graph:before {
  content: "\e63c"; }

.iconfont-import:before {
  content: "\e63d"; }

.iconfont-cross-empty:before {
  content: "\e63f"; }

.iconfont-clock:before {
  content: "\e640"; }

.iconfont-refresh:before {
  content: "\e641"; }

.iconfont-choose:before {
  content: "\e642"; }

.iconfont-select-2:before {
  content: "\e643"; }

.iconfont-line-graph:before {
  content: "\e644"; }

.iconfont-bar-graph:before {
  content: "\e645"; }

.iconfont-arrow-left2:before {
  content: "\e646"; }

.iconfont-arrow-top2:before {
  content: "\e647"; }

.iconfont-arrow-bottom2:before {
  content: "\e648"; }

.iconfont-arrow-right2:before {
  content: "\e649"; }

.iconfont-cross-squre:before {
  content: "\e64a"; }

.iconfont-arrow-top:before {
  content: "\e64b"; }

.iconfont-star-solid:before {
  content: "\e64c"; }

.iconfont-question:before {
  content: "\e64d"; }

.iconfont-minus:before {
  content: "\e64e"; }

.iconfont-plus:before {
  content: "\e64f"; }

.iconfont-cross-solid:before {
  content: "\e650"; }

.iconfont-pencil:before {
  content: "\e651"; }

.iconfont-edit:before {
  content: "\e652"; }

.iconfont-check-solid:before {
  content: "\e653"; }

.iconfont-check-empty:before {
  content: "\e654"; }

.iconfont-arrow-down:before {
  content: "\e655"; }

.iconfont-delete:before {
  content: "\e656"; }

.iconfont-check:before {
  content: "\e657"; }

.iconfont-user:before {
  content: "\e658"; }

.iconfont-arrow-left4:before {
  content: "\e659"; }

.iconfont-arrow-top4:before {
  content: "\e65a"; }

.iconfont-arrow-btm4:before {
  content: "\e65b"; }

.iconfont-arrow-right4:before {
  content: "\e65c"; }

.iconfont-todo:before {
  content: "\e65d"; }

.iconfont-todo2:before {
  content: "\e65e"; }

.iconfont-home1:before {
  content: "\e65f"; }

.iconfont-home2:before {
  content: "\e660"; }

.iconfont-future:before {
  content: "\e661"; }

.iconfont-future2:before {
  content: "\e662"; }

.iconfont-info:before {
  content: "\e663"; }

.iconfont-link1:before {
  content: "\e665"; }

.iconfont-username:before {
  content: "\e667"; }

.iconfont-menu:before {
  content: "\e668"; }

.iconfont-shutdown:before {
  content: "\e669"; }

.iconfont-mutiple:before {
  content: "\e66a"; }

.iconfont-quote:before {
  content: "\e66b"; }

.iconfont-refund:before {
  content: "\e66c"; }

.iconfont-branch:before {
  content: "\e66d"; }

.iconfont-accnt-manage:before {
  content: "\e666"; }

.iconfont-search:before {
  content: "\e766"; }

.iconfont-van:before {
  content: "\e767"; }

.iconfont-service:before {
  content: "\e768"; }

.iconfont-recruit:before {
  content: "\e769"; }

.iconfont-key:before {
  content: "\e76a"; }

.iconfont-wechat:before {
  content: "\e76b"; }

.iconfont-service-solid:before {
  content: "\e76c"; }

.iconfont-tel-solid:before {
  content: "\e76d"; }

.iconfont-mail-solid:before {
  content: "\e76e"; }

.iconfont-receipt:before {
  content: "\e76f"; }

.iconfont-calendar:before {
  content: "\e770"; }

.iconfont-business:before {
  content: "\e771"; }

.iconfont-seo:before {
  content: "\e772"; }

.iconfont-favorite:before {
  content: "\e773"; }

.iconfont-detail:before {
  content: "\e774"; }

.iconfont-business-manage:before {
  content: "\e775"; }

.iconfont-flow:before {
  content: "\e776"; }

.iconfont-privilege:before {
  content: "\e777"; }

.iconfont-friendly-link:before {
  content: "\e778"; }

.iconfont-showroom:before {
  content: "\e779"; }

.iconfont-senior-sales:before {
  content: "\e77a"; }

.iconfont-back-arrow:before {
  content: "\e77b"; }

.iconfont-gouwuche:before {
  content: "\e77c"; }

.iconfont-xunpanlan:before {
  content: "\e77d"; }

.iconfont-shopcart:before {
  content: "\e77c"; }

.iconfont-basket:before {
  content: "\e77d"; }

.iconfont-cert-id:before {
  content: "\e77e"; }

.iconfont-bxt:before {
  content: "\e674"; }

.iconfont-bxt-senior {
  color: #ca2e19; }

.iconfont-bxt-basic {
  color: #0065ac; }

.iconfont-nor {
  font-size: 32px;
  line-height: 32px; }

.iconfont-big {
  font-size: 48px;
  line-height: 48px; }

.grid {
  padding: 2.15rem 0 2.5rem; }

.grid-s {
  padding: 2.15rem 0 0; }

.grid-lg {
  padding: 4.4rem 0 2.5rem; }

.grid-list {
  padding-bottom: 3.75rem; }

.go-top {
  position: fixed;
  right: 1rem;
  bottom: 3.5rem;
  display: block;
  height: 2.5rem;
  width: 2.5rem;
  background: url("/assets/img/mobile/gotop.png") center no-repeat;
  -webkit-background-size: contain;
  background-size: contain; }

/* header
---------------------------------------------------- */
.header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.15rem;
  line-height: 2.15rem;
  background-color: #dc3214;
  color: #fff;
  text-align: center; }
  .header:before, .header:after {
    content: " ";
    display: table;
    height: 0;
    visibility: hidden;
    font-size: 0; }
  .header:after {
    clear: both; }
  .header .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.75rem; }
  .header .icon-user {
    font-size: 0.9rem; }
  .header a {
    color: #fff; }
  .header h2 {
    display: inline-block;
    color: #fff;
    font-size: 0.8rem;
    font-weight: normal; }
  .header .op-cancel, .header .op-choose {
    position: absolute;
    top: 0;
    width: 2.75rem;
    font-size: 0.7rem; }
  .header .op-cancel {
    left: 0; }
  .header .op-choose {
    right: 0; }

/* pop
---------------------------------------------------- */
.pop-mask {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  -webkit-transition: opacity ease 0.3s;
  -moz-transition: opacity ease 0.3s;
  -o-transition: opacity ease 0.3s;
  transition: opacity ease 0.3s; }

.pop-wrap {
  display: table-cell;
  vertical-align: middle; }

.pop-content {
  width: 90%;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  .pop-content .pop-hd {
    height: 2.625rem;
    line-height: 2.625rem;
    margin: 0 1rem;
    border-bottom: 1px solid #ccc;
    font-size: 0.7rem;
    text-align: center; }
  .pop-content .pop-bd {
    padding: 0 1rem; }
  .pop-content .pop-msg {
    padding: 1rem 0;
    font-size: 0.7rem;
    text-align: center; }
  .pop-content .pop-ft {
    height: 2.25rem;
    line-height: 2.25rem;
    border-top: 1px solid #ccc; }
    .pop-content .pop-ft .close {
      display: block;
      font-size: 0.7rem;
      text-align: center; }
    .pop-content .pop-ft .btn-confirm {
      float: left;
      width: 50%;
      height: 2.25rem;
      line-height: 2.25rem;
      text-align: center;
      font-size: 0.7rem;
      color: #666;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .pop-content .pop-ft .btn-confirm:first-child {
        border-right: 1px solid #ccc; }
  .pop-content .pop-tip {
    height: 4rem;
    line-height: 4rem;
    font-size: 1rem;
    text-align: center; }
    .pop-content .pop-tip img {
      vertical-align: middle; }

/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */
.pop-enter, .pop-leave {
  opacity: 0; }

.pop-enter .pop-content,
.pop-leave .pop-content {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

* {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  width: 100%;
  height: 100%;
  font-size: 20px; }

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

img {
  border: 0 none;
  vertical-align: top; }

i, em {
  font-style: normal; }

ol, ul {
  list-style: none; }

input, select, button, h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: inherit; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #666; }

body {
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
  line-height: 1.5;
  color: #666;
  background-color: #f2f2f2;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important; }

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #f2f2f2 inset;
  -moz-box-shadow: 0 0 0 50px #f2f2f2 inset;
  box-shadow: 0 0 0 50px #f2f2f2 inset; }

input[type="text"], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px #f2f2f2 inset;
  -moz-box-shadow: 0 0 0 50px #f2f2f2 inset;
  box-shadow: 0 0 0 50px #f2f2f2 inset;
  -webkit-text-fill-color: #333; }

button {
  display: inline-block;
  border: none;
  outline: none;
  vertical-align: middle;
  text-align: center;
  background: transparent; }

::-webkit-scrollbar {
  display: none; }

.orange {
  color: #ed9853; }

.red, .wxlogin-error {
  color: #e04b43; }

.gray {
  color: #999; }

.green {
  color: #199900; }

.wxlogin-title {
  line-height: 1.4rem;
  padding: 0.75rem 1rem 0;
  font-size: 0.65rem;
  color: #333; }

.wxlogin-box {
  padding: 1rem 1.5rem 0; }

.wxlogin-lst-item {
  position: relative;
  padding-bottom: 1.2rem; }

.wxlogin-inp {
  width: 100%;
  height: 1.7rem;
  line-height: 1.7rem;
  padding: 0.55rem 0.6rem 0.575rem;
  border: none;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 0.6rem;
  color: #333;
  -webkit-border-radius: 0.15rem;
  -moz-border-radius: 0.15rem;
  border-radius: 0.15rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wxlogin-btn {
  width: 100%;
  height: 1.8rem;
  line-height: 1.8rem;
  font-size: 0.9rem;
  color: #fff;
  background: #6898fe;
  border: none;
  text-align: center;
  -webkit-border-radius: 0.15rem;
  -moz-border-radius: 0.15rem;
  border-radius: 0.15rem; }

.wxlogin-btn-disabled {
  background: #797979; }

.wxlogin-error {
  padding-top: 0.15rem;
  line-height: 0.9rem;
  font-size: 0.6rem; }

.tip-nor {
  position: absolute;
  top: 16%;
  left: 0;
  width: 100%;
  line-height: 1.6rem;
  text-align: center;
  font-size: 1.5rem; }
  .tip-nor .icon {
    margin-right: 0.5rem;
    font-size: 1.6rem; }

.tip-succ .icon {
  color: #70b701; }

.login-ban img {
  width: 100%; }

.login-box {
  padding: 0.5rem 1.5rem 0; }

.login-lst-item {
  position: relative; }
  .login-lst-item .login-lst-inner {
    position: relative;
    z-index: 10; }
    .login-lst-item .login-lst-inner .icon {
      position: absolute;
      right: 0;
      top: 50%;
      line-height: 0.8rem;
      margin-top: -0.4rem;
      font-size: 0.8rem;
      color: #999; }
  .login-lst-item .dropdown {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 0;
    margin: 0 -1.5rem;
    padding: 0 1.5rem;
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -ms-transform-origin: center top;
    -o-transform-origin: center top;
    transform-origin: center top; }

.login-lst-item-down .login-lst-inner .icon {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s; }

.login-lst-item-down .dropdown {
  height: auto;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease; }

.dropdown-lst {
  padding: 2.15rem 0 0; }
  .dropdown-lst .dropdown-item {
    position: relative;
    height: 1.8rem;
    line-height: 1.8rem;
    border-bottom: 1px solid #ccc;
    color: #333;
    font-size: 0.6rem; }
    .dropdown-lst .dropdown-item:last-of-type {
      border-bottom: none; }
    .dropdown-lst .dropdown-item .icon {
      position: absolute;
      right: -0.25rem;
      top: 50%;
      line-height: 0.7rem;
      margin-top: -0.475rem;
      padding: 0.25rem;
      color: #ccc;
      font-size: 0.7rem; }

.login-inp {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  padding: 0.55rem 0.25rem 0.575rem;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  font-size: 0.6rem;
  color: #333; }

.login-btn {
  width: 100%;
  height: 2.1rem;
  line-height: 2.1rem;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #fff;
  background: #dc3214;
  border: none;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0.375rem 0.5rem rgba(255, 38, 0, 0.4); }
  .login-btn:active {
    background-color: #cc280b; }
  .login-btn .img {
    display: inline-block;
    width: 1rem;
    vertical-align: middle;
    -webkit-transform: translateY(0.375rem);
    -moz-transform: translateY(0.375rem);
    -ms-transform: translateY(0.375rem);
    -o-transform: translateY(0.375rem);
    transform: translateY(0.375rem); }
    .login-btn .img img {
      width: 100%; }

.login-error {
  width: 60%;
  margin: 1.5rem 0 0 1.5rem;
  font-size: 0.7rem;
  color: #cc220b;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity ease 0.5s;
  -moz-transition: opacity ease 0.5s;
  -o-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s; }
  .login-error .icon {
    color: #cc220b; }

.login-error-show {
  visibility: visible;
  opacity: 1; }

.calendar-lst, .calendar-hd, .calendar-bd {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -o-flexbox;
  display: -ms-flexbox;
  display: flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  display: flex; }
  .calendar-lst li, .calendar-hd li, .calendar-bd li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    text-align: center; }

.calendar-hd li {
  height: 1.7rem;
  line-height: 1.7rem;
  background: #fff;
  color: #999;
  font-size: 0.5rem; }

.calendar-bd {
  border-bottom: 1px solid #ccc; }
  .calendar-bd li {
    height: 1.75rem;
    line-height: 1.75rem;
    background: #fff5d9;
    color: #333;
    font-size: 0.8rem; }
  .calendar-bd .col-overtime {
    color: #dc3214; }
  .calendar-bd .col-today {
    color: #ffa200; }
  .calendar-bd .col-future {
    color: #999; }
  .calendar-bd .col-curr {
    position: relative;
    z-index: 1;
    color: #fff; }
    .calendar-bd .col-curr:before {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      margin: -0.575rem 0 0 -0.8rem;
      content: "";
      width: 1.6rem;
      height: 1.1rem;
      background: #ffbe00;
      -webkit-border-radius: 0.15rem;
      -moz-border-radius: 0.15rem;
      border-radius: 0.15rem; }

.msg-entrance {
  margin-top: 0.5rem;
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }
  .msg-entrance ul {
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
    display: box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -o-flexbox;
    display: -ms-flexbox;
    display: flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    display: flex; }
  .msg-entrance li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    padding: 0.975rem 0 0.85rem;
    text-align: center; }
    .msg-entrance li span {
      position: relative;
      display: block;
      width: 2.25rem;
      height: 2.4rem;
      margin: 0 auto;
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      background-size: contain; }
    .msg-entrance li p {
      margin-top: 0.375rem;
      line-height: 0.9rem;
      font-size: 0.7rem;
      color: #333; }
  .msg-entrance .msg-pending {
    border-right: 1px solid #ccc; }
    .msg-entrance .msg-pending span {
      background-image: url(/assets/img/mobile/icon_pending.png); }
  .msg-entrance .msg-info span {
    background-image: url(/assets/img/mobile/icon_info.png); }
  .msg-entrance .msg-unread span:before {
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    width: 0.4rem;
    height: 0.4rem;
    content: "";
    background: #dc3214;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }

.nav-tab {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 2.775rem;
  background: #fff;
  border-top: 1px solid #ccc; }
  .nav-tab ul {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
    display: box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -o-flexbox;
    display: -ms-flexbox;
    display: flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    display: flex; }
  .nav-tab li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    height: 100%;
    padding-top: 0.475rem;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .nav-tab li .icon {
      display: block;
      margin: 0 auto;
      width: 1.05rem;
      height: 1.05rem;
      line-height: 1.05rem;
      font-size: 1.05rem; }
    .nav-tab li p {
      margin-top: 0.25rem;
      line-height: 0.7rem;
      font-size: 0.55rem;
      color: #999; }
  .nav-tab .curr .icon, .nav-tab .curr p {
    color: #dc3214; }

.personal-center-mask {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all ease-in 0.4s;
  -moz-transition: all ease-in 0.4s;
  -o-transition: all ease-in 0.4s;
  transition: all ease-in 0.4s; }

.personal-center-mask-show {
  opacity: 1;
  visibility: visible; }

.personal-center {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 13.75rem;
  height: 100%;
  background: #fff;
  -webkit-transition: all ease-in 0.4s;
  -moz-transition: all ease-in 0.4s;
  -o-transition: all ease-in 0.4s;
  transition: all ease-in 0.4s;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%); }

.personal-center-show {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }

.personal-info {
  height: 4.5rem;
  padding: 0 1.35rem;
  background: #dc3214; }

.person-info-wrap {
  padding: 1rem 0 1rem 3.325rem; }
  .person-info-wrap .avatar {
    float: left;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: -3.325rem;
    border: 0.075rem solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
    .person-info-wrap .avatar img {
      width: 100%;
      height: 100%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
  .person-info-wrap p {
    line-height: 1rem; }
  .person-info-wrap .name {
    margin-top: 0.45rem;
    font-size: 0.7rem;
    color: #fff; }
  .person-info-wrap .account {
    font-size: 0.6rem;
    color: #ff9d8c; }

.personal-operate {
  padding: 0 1.2rem; }
  .personal-operate li {
    position: relative;
    height: 2.25rem;
    line-height: 2.25rem;
    border-bottom: 1px solid #ccc; }
    .personal-operate li span {
      float: left;
      color: #666;
      font-size: 0.7rem; }
    .personal-operate li a {
      float: right;
      margin-right: 0.875rem;
      color: #999;
      font-size: 0.6rem; }
    .personal-operate li .icon {
      position: absolute;
      right: 0;
      top: 50%;
      line-height: 0.65rem;
      margin-top: -0.325rem;
      font-size: 0.65rem;
      color: #b3b3b3; }

.network-anomaly {
  height: 1.775rem;
  line-height: 1.775rem;
  margin-bottom: 0.5rem;
  padding: 0 0.825rem;
  background: #ffe2dc;
  border-bottom: 1px solid #ccc;
  font-size: 0.6rem;
  color: #333; }
  .network-anomaly .icon {
    margin-right: 0.5rem;
    font-size: 0.8rem;
    color: #dc3316; }

.personal-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.1rem;
  line-height: 2.1rem;
  color: #999;
  font-size: 0.45rem;
  text-align: center; }

.msg-tab {
  position: fixed;
  z-index: 59;
  top: 2.15rem;
  left: 0;
  width: 100%;
  height: 2.25rem;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -o-flexbox;
  display: -ms-flexbox;
  display: flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  display: flex;
  background: #fff;
  border-bottom: 1px solid #ccc; }
  .msg-tab li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    height: 2.25rem;
    line-height: 2.25rem;
    text-align: center;
    font-size: 0.7rem;
    color: #333; }
    .msg-tab li a {
      display: block; }
  .msg-tab .tb-bar {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 50%;
    height: 0.1rem;
    background: #dc3214;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out; }
  .msg-tab .curr {
    color: #dc3214; }
  .msg-tab li:last-of-type.curr + .tb-bar {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }

.msg-tab-disabled li, .msg-tab-disabled .curr {
  color: #ccc; }

.msg-tab-disabled .tb-bar {
  background: #ccc; }

.msg-lst {
  padding: 0 0.75rem 0.5rem; }

.msg-lst-date {
  height: 0.75rem;
  line-height: 0.75rem;
  padding: 0.575rem 0 0.3rem;
  text-align: center;
  font-size: 0.5rem;
  color: #999; }

.msg-lst-con {
  position: relative;
  padding: 0.55rem 0.725rem;
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem; }
  .msg-lst-con .txt {
    line-height: 0.9rem;
    font-size: 0.6rem;
    word-break: break-all; }
  .msg-lst-con .dlink {
    margin-top: 0.35rem;
    padding-top: 0.3rem;
    border-top: 1px solid #ccc;
    font-size: 0.5rem; }

.msg-lst-unread .msg-lst-con:before {
  content: "";
  position: absolute;
  top: -0.2rem;
  left: -0.2rem;
  width: 0.4rem;
  height: 0.4rem;
  background: #dc3214;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.msg-lst-check .check-ico {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 0;
  height: 0;
  border-width: 0.5rem;
  border-style: solid;
  border-color: #ccc #ccc transparent transparent;
  -webkit-border-top-right-radius: 0.25rem;
  -moz-border-top-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem; }
  .msg-lst-check .check-ico .icon {
    position: absolute;
    top: -0.3rem;
    left: -0.05rem;
    line-height: 0.3rem;
    font-size: 0.3rem;
    font-weight: bold;
    color: #fff; }

.msg-lst-checked .msg-lst-con {
  background: #f5fff0;
  border-color: #54c218; }

.msg-lst-checked .check-ico {
  border-color: #54c218 #54c218 transparent transparent; }

.preview {
  margin-top: 1rem; }
  .preview .row {
    border-bottom: none;
    margin-bottom: -0.025rem; }
    .preview .row:first-child {
      border-top: 1px solid #ccc; }
    .preview .row:last-child {
      border-bottom: 1px solid #ccc; }

.row-pm:first-of-type {
  margin-top: 0.5rem; }

.row-pm .data-bd-row {
  overflow: hidden; }

.row-pm .data-hd-tail {
  color: #dc3214; }

.data-empty {
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  text-align: center; }
  .data-empty .ico-empty {
    position: relative;
    display: inline-block;
    width: 2.8rem;
    height: 2.8rem;
    border: 0.2rem solid #ccc; }
    .data-empty .ico-empty:before, .data-empty .ico-empty em, .data-empty .ico-empty:after {
      position: absolute;
      left: 50%;
      margin-left: -0.8rem;
      width: 1.6rem;
      height: 0.2rem;
      background: #ccc; }
    .data-empty .ico-empty:before, .data-empty .ico-empty:after {
      content: ""; }
    .data-empty .ico-empty:before {
      top: 0.6rem; }
    .data-empty .ico-empty em {
      top: 1.3rem; }
    .data-empty .ico-empty:after {
      top: 2rem; }
  .data-empty p {
    line-height: 1rem;
    margin-top: 0.825rem;
    font-size: 0.7rem;
    color: #333; }

/* nav
---------------------------------------------------- */
.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  border-top: 1px solid #ffa84c;
  background-color: #ffead3;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .nav .btn {
    margin: 0 0.25rem; }

/* top-lst
---------------------------------------------------- */
.top-lst {
  padding: 0.775rem 0; }
  .top-lst li {
    height: 1.15rem;
    line-height: 1.15rem;
    font-size: 0.7rem;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .top-lst li:before, .top-lst li:after {
      content: " ";
      display: table;
      height: 0;
      visibility: hidden;
      font-size: 0; }
    .top-lst li:after {
      clear: both; }
  .top-lst .state {
    float: right; }

/* tender-status
---------------------------------------------------*/
.tender-status {
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  display: table;
  height: 2.25rem;
  width: 2.25rem;
  line-height: 1.2;
  border-radius: 50%;
  background-color: #ed9947;
  color: #fff;
  font-size: 0.6rem; }
  .tender-status > span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9); }

.tender-status-red {
  background-color: #e25c42; }

.tender-status-orange {
  background-color: #ed9947; }

.tender-status-yellow {
  background-color: #e2c335; }

.tender-status-gray {
  background-color: #cacaca; }

.tender-status-blue {
  background-color: #67adef; }

.tender-status-green {
  background-color: #61c28d; }

/* row
---------------------------------------------------- */
.row {
  position: relative;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }
  .row:first-child {
    border-top: none; }
  .row-hd {
    height: 2.15rem;
    line-height: 2.15rem;
    font-size: 0.7rem;
    color: #666; }
    .row-hd:before, .row-hd:after {
      content: " ";
      display: table;
      height: 0;
      visibility: hidden;
      font-size: 0; }
    .row-hd:after {
      clear: both; }
    .row-hd .note {
      margin: 0; }
    .row-hd-tail {
      float: right;
      color: #dc3214; }
  .row-switch {
    float: right;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s; }
  .row-bd {
    border-top: 1px solid #ccc; }

.row-hide .row-switch {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.row-hide .row-bd {
  display: none; }

.row-top .row-hd {
  height: 1.65rem;
  line-height: 1.65rem;
  padding-top: 0.5rem;
  border-bottom: none; }

.row-top .top-lst {
  padding: 0 0 0.5rem; }
  .row-top .top-lst li {
    font-size: 0.6rem;
    color: #999; }

/* info-lst
---------------------------------------------------- */
.info {
  padding: 0.5rem 0;
  border-bottom: 1px dashed #ccc; }
  .info:last-child {
    border-bottom: none; }
  .info > h3 {
    font-size: 0.7rem;
    font-weight: bold; }

.info-lst > li {
  line-height: 1.05rem;
  padding-left: 3.25rem;
  color: #666;
  font-size: 0.6rem; }
  .info-lst > li:before, .info-lst > li:after {
    content: " ";
    display: table;
    height: 0;
    visibility: hidden;
    font-size: 0; }
  .info-lst > li:after {
    clear: both; }

.info-lst .info-tit {
  float: left;
  width: 3.25rem;
  margin-left: -3.25rem;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.info-lst .info-bd {
  padding-left: 0.25rem; }

.info-lst-align-left > li .info-tit {
  text-align: left; }

.info-lst-wide > li {
  padding-left: 4.25rem; }

.info-lst-wide .info-tit {
  width: 4.25rem;
  margin-left: -4.25rem; }

.info-normal > li {
  padding-left: 0; }

.info-normal .info-tit {
  width: auto;
  margin-left: 0; }

.info-company {
  padding: 0; }
  .info-company .info-lst > li {
    height: 1.5rem;
    line-height: 1.5rem;
    border-bottom: 1px solid #eee; }
    .info-company .info-lst > li:last-child {
      border-bottom: none; }
    .info-company .info-lst > li .info-tit {
      text-align: left; }

/* data-lst
---------------------------------------------------- */
.data-lst {
  padding: 0.25rem 0; }
  .data-lst li {
    padding: 0.375rem 0;
    border-bottom: 1px solid #ccc; }
    .data-lst li:last-child {
      padding-bottom: 0.125rem;
      border-bottom: none; }
    .data-lst li a {
      display: block; }
  .data-lst .data-hd {
    margin-bottom: 0.125rem;
    font-size: 0.7rem; }
    .data-lst .data-hd:before, .data-lst .data-hd:after {
      content: " ";
      display: table;
      height: 0;
      visibility: hidden;
      font-size: 0; }
    .data-lst .data-hd:after {
      clear: both; }
    .data-lst .data-hd a {
      display: block; }
    .data-lst .data-hd h4 {
      float: left;
      font-weight: normal; }
    .data-lst .data-hd-tail {
      float: right; }
  .data-lst .data-bd:before, .data-lst .data-bd:after {
    content: " ";
    display: table;
    height: 0;
    visibility: hidden;
    font-size: 0; }
  .data-lst .data-bd:after {
    clear: both; }
  .data-lst .data-bd .data-cell {
    float: left;
    margin-right: 0.75rem;
    color: #999;
    font-size: 0.6rem; }
  .data-lst .data-bd .data-vertical {
    margin-right: 0.75rem;
    color: #999;
    font-size: 0.6rem; }
  .data-lst .data-bd .icon {
    float: right;
    font-size: 0.6rem;
    color: #e0e0e0; }

/* data-view
---------------------------------------------------- */
.data-view {
  margin-bottom: 0.5rem;
  padding: 0.5rem 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #fff; }
  .data-view:before, .data-view:after {
    content: " ";
    display: table;
    height: 0;
    visibility: hidden;
    font-size: 0; }
  .data-view:after {
    clear: both; }
  .data-view dl {
    float: left;
    width: 50%;
    border-right: 1px solid #ccc;
    font-size: 0.6rem;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .data-view dl:last-child {
      border-right: none; }
    .data-view dl dt {
      color: #999; }

/* data-mod
---------------------------------------------------- */
.data-mod {
  margin-bottom: 0.5rem; }
  .data-mod-hd {
    padding: 0 0.5rem;
    height: 1.65rem;
    line-height: 1.65rem; }
    .data-mod-hd h3 {
      font-size: 0.7rem; }
      .data-mod-hd h3 .serial {
        font-weight: normal;
        color: #999; }
  .data-mod-bd {
    padding: 0 0.5rem;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff; }
    .data-mod-bd .text {
      padding: 0.5rem 0; }
    .data-mod-bd .data-mod-lst {
      width: 100%; }
      .data-mod-bd .data-mod-lst > li {
        padding: 0.5rem 0;
        padding-left: 4.5rem;
        border-bottom: 1px solid #ccc;
        font-size: 0.6rem; }
        .data-mod-bd .data-mod-lst > li:before, .data-mod-bd .data-mod-lst > li:after {
          content: " ";
          display: table;
          height: 0;
          visibility: hidden;
          font-size: 0; }
        .data-mod-bd .data-mod-lst > li:after {
          clear: both; }
        .data-mod-bd .data-mod-lst > li:last-child {
          border-bottom: none; }
        .data-mod-bd .data-mod-lst > li .tit {
          float: left;
          width: 4.5rem;
          margin-left: -4.5rem; }
        .data-mod-bd .data-mod-lst > li .bd {
          float: left; }
      .data-mod-bd .data-mod-lst .split {
        padding-left: 0;
        font-size: 0.6rem;
        font-weight: bold;
        color: #4d4d4d; }

/* label-group
---------------------------------------------------- */
.label-group:before, .label-group:after {
  content: " ";
  display: table;
  height: 0;
  visibility: hidden;
  font-size: 0; }

.label-group:after {
  clear: both; }

.label-group label {
  float: left;
  padding: 0 0.25rem;
  margin-right: 0.25rem;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 0.6rem; }

/* audit
---------------------------------------------------- */
.audit {
  margin-left: 0.4rem;
  padding: 0.75rem 0;
  border-left: 1px solid #ccc;
  font-size: 0.6rem; }
  .audit-flow-item {
    position: relative;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.75rem;
    margin-left: 1rem;
    background-color: #f7f7f7;
    border: 1px solid #e0e0e0;
    border-radius: 4px; }
    .audit-flow-item:last-child {
      margin-bottom: 0; }
    .audit-flow-item:before {
      position: absolute;
      top: 24%;
      left: -1.5rem;
      content: " ";
      display: block;
      width: 0.8rem;
      height: 0.8rem; }
    .audit-flow-item .arrow {
      position: absolute;
      top: 24%;
      left: -0.375rem;
      width: 0.375rem;
      height: 0.75rem;
      background: url("/assets/img/mobile/audit_arrow.png") center no-repeat;
      -webkit-background-size: contain;
      background-size: contain; }
    .audit-flow-item .auditer span {
      margin-right: 0.125rem; }
    .audit-flow-item .audit-note:before, .audit-flow-item .audit-note:after {
      content: " ";
      display: table;
      height: 0;
      visibility: hidden;
      font-size: 0; }
    .audit-flow-item .audit-note:after {
      clear: both; }
    .audit-flow-item .audit-note > span {
      display: inline-block;
      margin-right: -0.25rem; }
    .audit-flow-item .audit-note .reject {
      float: right; }
    .audit-flow-item .audit-note .time {
      font-size: 0.5rem;
      color: #999;
      -webkit-transform: scale(0.75);
      -moz-transform: scale(0.75);
      -ms-transform: scale(0.75);
      -o-transform: scale(0.75);
      transform: scale(0.75); }
    .audit-flow-item .audit-note > a {
      float: right;
      color: #06c; }
  .audit .audit-succ:before {
    background: url("/assets/img/mobile/icon_succ.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }
  .audit .audit-edit:before {
    background: url("/assets/img/mobile/icon_edit.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }
  .audit .audit-wait:before {
    background: url("/assets/img/mobile/icon_ellipsis.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }
  .audit .audit-stop:before {
    background: url("/assets/img/mobile/icon_error.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }
  .audit .audit-wait-done:before {
    background: url("/assets/img/mobile/icon_circle.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }
  .audit .audit-done:before {
    background: url("/assets/img/mobile/icon_circle_green.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }

.note {
  margin: 1rem 0.5rem 0.5rem;
  font-size: 0.5rem;
  color: #999; }

/* audit-form
---------------------------------------------------- */
.audit-form {
  text-align: center; }
  .audit-form .text-area {
    width: 100%;
    height: 9.5rem;
    padding: 0.75rem 0.5rem;
    margin-bottom: 1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

/* audit-path
---------------------------------------------------- */
.audit-path {
  margin-bottom: 3rem;
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }
  .audit-path-hd {
    height: 2.15rem;
    line-height: 2.15rem;
    margin: 0 0.5rem -1px;
    border-bottom: 1px solid #ccc;
    color: #666; }
    .audit-path-hd:before, .audit-path-hd:after {
      content: " ";
      display: table;
      height: 0;
      visibility: hidden;
      font-size: 0; }
    .audit-path-hd:after {
      clear: both; }
    .audit-path-hd h3 {
      float: left;
      font-size: 0.7rem; }
    .audit-path-hd .tail {
      float: right;
      font-size: 0.6rem;
      color: #4d4d4d; }
      .audit-path-hd .tail .icon {
        vertical-align: middle;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s; }
  .audit-path-bd {
    position: relative; }
    .audit-path-bd .audit-path-mod {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-bottom: 1px solid #ccc;
      background-color: #fff; }
      .audit-path-bd .audit-path-mod .audit-person {
        padding: 0 0.5rem 0.625rem; }
        .audit-path-bd .audit-path-mod .audit-person span {
          display: inline-block;
          height: 1.25rem;
          line-height: 1.25rem;
          padding: 0 0.625rem;
          margin-right: 0.5rem;
          margin-bottom: 0.5rem;
          background-color: #f2f2f2;
          border-radius: 4px;
          text-align: center;
          font-size: 0.6rem;
          color: #666; }
        .audit-path-bd .audit-path-mod .audit-person .select {
          background-color: #dc3214;
          color: #fff; }
  .audit-path-lst {
    padding: 0 0.5rem; }
    .audit-path-lst > li {
      width: 100%;
      height: 2rem;
      line-height: 2rem;
      border-bottom: 1px solid #ccc;
      font-size: 0.6rem;
      overflow: hidden; }
      .audit-path-lst > li:last-child {
        border-bottom: none; }
      .audit-path-lst > li .icon-check {
        float: right;
        color: #199900; }

.audit-path-toggle .icon-arrow-top {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.audit-path-toggle .audit-path-bd {
  display: none; }

/* multi-audit
---------------------------------------------------- */
.multi-audit {
  max-height: 15rem;
  overflow-y: scroll; }
  .multi-audit::-webkit-scrollbar {
    display: none; }
  .multi-audit li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #ccc; }
    .multi-audit li:last-child {
      border-bottom: none; }
  .multi-audit-hd {
    font-size: 0.6rem; }
    .multi-audit-hd:before, .multi-audit-hd:after {
      content: " ";
      display: table;
      height: 0;
      visibility: hidden;
      font-size: 0; }
    .multi-audit-hd:after {
      clear: both; }
    .multi-audit-hd .tit {
      float: left;
      color: #4d4d4d; }
    .multi-audit-hd .time {
      float: right;
      color: #999;
      -webkit-transform: scale(0.75);
      -moz-transform: scale(0.75);
      -ms-transform: scale(0.75);
      -o-transform: scale(0.75);
      transform: scale(0.75); }
  .multi-audit-txt {
    margin-top: 0.3rem;
    font-size: 0.6rem;
    color: #666;
    padding-left: 3.5rem; }
    .multi-audit-txt:before, .multi-audit-txt:after {
      content: " ";
      display: table;
      height: 0;
      visibility: hidden;
      font-size: 0; }
    .multi-audit-txt:after {
      clear: both; }
    .multi-audit-txt dt {
      float: left;
      width: 3.5rem;
      margin-left: -3.5rem; }

/* tab-menu
---------------------------------------------------- */
.tab-menu {
  width: 7.15rem;
  margin: 0.5rem auto;
  border: 1px solid #fff;
  border-radius: 2px;
  font-size: 0.6rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .tab-menu:before, .tab-menu:after {
    content: " ";
    display: table;
    height: 0;
    visibility: hidden;
    font-size: 0; }
  .tab-menu:after {
    clear: both; }
  .tab-menu li {
    float: left;
    height: 1.15rem;
    line-height: 1.15rem;
    width: 50%;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .tab-menu li:first-child {
      border-right: 1px solid #fff; }
  .tab-menu a {
    display: inline-block;
    vertical-align: middle;
    color: #fff; }
  .tab-menu .on {
    background-color: #fff; }
    .tab-menu .on a {
      color: #dc3214; }

/* list
---------------------------------------------------- */
.rst-sum {
  margin: 0.5rem 0 0.25rem;
  padding: 0 0.5rem;
  font-size: 0.6rem;
  color: #999; }

.inquiry-result-list > li {
  position: relative; }
  .inquiry-result-list > li .icon-arrow-right2 {
    position: absolute;
    right: 2%;
    top: 45%; }
  .inquiry-result-list > li .info {
    width: 90%; }
    .inquiry-result-list > li .info:before, .inquiry-result-list > li .info:after {
      content: " ";
      display: table;
      height: 0;
      visibility: hidden;
      font-size: 0; }
    .inquiry-result-list > li .info:after {
      clear: both; }
  .inquiry-result-list > li .result-sub-tit {
    margin-left: -0.2rem;
    padding-top: 0.125rem;
    font-size: 0.6rem;
    font-weight: bold; }

.sup-accept-status {
  float: right;
  margin-top: -20%;
  margin-right: 10%; }

.status-accepted {
  display: inline-block;
  vertical-align: middle;
  width: 56px;
  height: 25px;
  background: url(/assets/img/back/inquiry/status_accepted.png) no-repeat; }

/* base
---------------------------------------------------- */
[v-cloak] {
  display: none; }

.icon {
  font-size: 0.8rem; }

.mark {
  display: inline-block;
  height: 0.9rem;
  line-height: 0.9rem;
  padding: 0 0.2rem;
  background-color: #e86f3b;
  border-radius: 3px;
  text-align: center;
  font-size: 0.6rem;
  color: #fff;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9); }

.rich-text {
  padding: 0.25rem 0;
  font-size: 0.6rem; }
  .rich-text img {
    width: 100%; }

.text {
  line-height: 0.7rem;
  font-size: 0.6rem;
  word-break: break-all;
  color: #999; }

.load-more {
  width: 3rem;
  margin: 1rem auto 0; }
  .load-more img {
    width: 100%; }

/* btn
---------------------------------------------------- */
.btn {
  border-radius: 4px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.btn-m {
  display: inline-block;
  height: 1.5rem;
  width: 4rem;
  padding: 0 0.25rem;
  line-height: 1.5rem;
  font-size: 0.6rem; }

.btn-l {
  display: block;
  height: 2rem;
  line-height: 2rem;
  width: 80%;
  margin: 0 auto;
  font-size: 0.8rem;
  letter-spacing: 0.25rem; }
  .btn-l .img {
    display: inline-block;
    width: 1rem;
    vertical-align: middle;
    -webkit-transform: translateY(0.375rem);
    -moz-transform: translateY(0.375rem);
    -ms-transform: translateY(0.375rem);
    -o-transform: translateY(0.375rem);
    transform: translateY(0.375rem); }
    .btn-l .img img {
      width: 100%; }

.btn-default {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #666; }
  .btn-default:active {
    background-color: #f7f7f7; }

.btn-primary {
  border: 1px solid #dc3214;
  background-color: #dc3214;
  color: #fff; }
  .btn-primary:active {
    background-color: #cc280b; }

/* pic-lst
---------------------------------------------------- */
.pic-lst {
  display: table; }
  .pic-lst li {
    width: 3rem;
    height: 3rem;
    padding-right: 0.5rem;
    display: table-cell;
    text-align: center;
    vertical-align: middle; }
    .pic-lst li .pic-ver {
      height: 100%; }
    .pic-lst li .pic-hoz {
      width: 100%; }

.pic-single li {
  width: 100%; }

/* system
---------------------------------------------------- */
.tip {
  position: fixed;
  top: 2.15rem;
  z-index: 499;
  width: 100%;
  padding: 0.25rem 0.5rem;
  font-size: 0.6rem;
  opacity: 0;
  -webkit-transition: all ease-in 2s;
  -moz-transition: all ease-in 2s;
  -o-transition: all ease-in 2s;
  transition: all ease-in 2s; }

.tip-succ {
  background: rgba(235, 249, 223, 0.9);
  color: #58991f; }

.tip-error {
  background: rgba(255, 226, 220, 0.9);
  color: #cc220b; }

.tip-show {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-name: tipFade;
  -moz-animation-name: tipFade;
  animation-name: tipFade; }

.blank {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 49;
  height: 100%;
  width: 100%;
  display: none; }
  .blank .sys-tip {
    width: 40%;
    display: table-cell;
    vertical-align: middle; }

.sys-tip {
  width: 40%;
  margin: 3.75rem auto;
  text-align: center; }
  .sys-tip p {
    margin-top: 1rem;
    font-size: 0.7rem; }
  .sys-tip .sys-icon {
    display: inline-block;
    width: 20%;
    margin: 0 auto; }
    .sys-tip .sys-icon img {
      width: 100%; }

.blank-show {
  display: table; }

.blank-shadow {
  background: rgba(0, 0, 0, 0.1); }

@keyframes tipFade {
  0% {
    opacity: 0; }
  25%, 50%, 75% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*# sourceMappingURL=../../sourcemaps/mobile/mobile.css.map */
