.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  padding: 0;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  _margin-bottom: 1px; }

button.btn,
input.btn {
  margin: 0;
  *overflow: visible; }
  button.btn::-moz-focus-inner,
  input.btn::-moz-focus-inner {
    border: none;
    padding: 0; }
  button.btn:focus,
  input.btn:focus {
    outline: none; }

a.btn:hover {
  text-decoration: none; }

.btn-red {
  border: 1px solid #e0463e;
  border-bottom: 1px solid #b32b24;
  color: #fff;
  background-color: #e0463e;
  background-image: -moz-linear-gradient(top, #e64d45 0, #d93f36 100%);
  background-image: -webkit-linear-gradient(top, #e64d45 0, #d93f36 100%);
  background-image: -o-linear-gradient(top, #e64d45 0, #d93f36 100%);
  background-image: linear-gradient(to bottom, #e64d45 0, #d93f36 100%); }
  .btn-red:link, .btn-red:visited {
    color: #fff; }
  .btn-red:hover {
    border-bottom-color: #9e2620;
    background-color: #dc3128;
    background-image: -moz-linear-gradient(top, #e3372f 0, #ce3027 100%);
    background-image: -webkit-linear-gradient(top, #e3372f 0, #ce3027 100%);
    background-image: -o-linear-gradient(top, #e3372f 0, #ce3027 100%);
    background-image: linear-gradient(to bottom, #e3372f 0, #ce3027 100%);
    color: #fff; }
  .btn-red:active {
    background-image: -moz-linear-gradient(top, #ce3027 0, #e3372f 100%);
    background-image: -webkit-linear-gradient(top, #ce3027 0, #e3372f 100%);
    background-image: -o-linear-gradient(top, #ce3027 0, #e3372f 100%);
    background-image: linear-gradient(to bottom, #ce3027 0, #e3372f 100%); }

.btn-yellow {
  border: 1px solid #ffdb1a;
  border-bottom: 1px solid #e6c317;
  color: #674800;
  background-color: #ffdb1a;
  background-image: -moz-linear-gradient(top, #ffe226 0, #ffd20b 100%);
  background-image: -webkit-linear-gradient(top, #ffe226 0, #ffd20b 100%);
  background-image: -o-linear-gradient(top, #ffe226 0, #ffd20b 100%);
  background-image: linear-gradient(to bottom, #ffe226 0, #ffd20b 100%); }
  .btn-yellow:link, .btn-yellow:visited {
    color: #674800; }
  .btn-yellow:hover {
    border-bottom-color: #cfaf15;
    background-color: #ffd701;
    background-image: -moz-linear-gradient(top, #ffdf0d 0, #f1c400 100%);
    background-image: -webkit-linear-gradient(top, #ffdf0d 0, #f1c400 100%);
    background-image: -o-linear-gradient(top, #ffdf0d 0, #f1c400 100%);
    background-image: linear-gradient(to bottom, #ffdf0d 0, #f1c400 100%);
    color: #674800; }
  .btn-yellow:active {
    background-image: -moz-linear-gradient(top, #f1c400 0, #ffdf0d 100%);
    background-image: -webkit-linear-gradient(top, #f1c400 0, #ffdf0d 100%);
    background-image: -o-linear-gradient(top, #f1c400 0, #ffdf0d 100%);
    background-image: linear-gradient(to bottom, #f1c400 0, #ffdf0d 100%); }

.btn-blue {
  border: 1px solid #1c8fe8;
  border-bottom: 1px solid #216ca6;
  color: #fff;
  background-color: #1c8fe8;
  background-image: -moz-linear-gradient(top, #1894f2 0, #2089d9 100%);
  background-image: -webkit-linear-gradient(top, #1894f2 0, #2089d9 100%);
  background-image: -o-linear-gradient(top, #1894f2 0, #2089d9 100%);
  background-image: linear-gradient(to bottom, #1894f2 0, #2089d9 100%); }
  .btn-blue:link, .btn-blue:visited {
    color: #fff; }
  .btn-blue:hover {
    border-bottom-color: #1d5e91;
    background-color: #1681d5;
    background-image: -moz-linear-gradient(top, #0d87e4 0, #1d7bc3 100%);
    background-image: -webkit-linear-gradient(top, #0d87e4 0, #1d7bc3 100%);
    background-image: -o-linear-gradient(top, #0d87e4 0, #1d7bc3 100%);
    background-image: linear-gradient(to bottom, #0d87e4 0, #1d7bc3 100%);
    color: #fff; }
  .btn-blue:active {
    background-image: -moz-linear-gradient(top, #1d7bc3 0, #0d87e4 100%);
    background-image: -webkit-linear-gradient(top, #1d7bc3 0, #0d87e4 100%);
    background-image: -o-linear-gradient(top, #1d7bc3 0, #0d87e4 100%);
    background-image: linear-gradient(to bottom, #1d7bc3 0, #0d87e4 100%); }

.btn-gray {
  border: 1px solid #f4f4f4;
  border-bottom: 1px solid #ccc;
  color: #333;
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(top, #f4f4f4 0, #e0e0e0 100%);
  background-image: -webkit-linear-gradient(top, #f4f4f4 0, #e0e0e0 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 0, #e0e0e0 100%);
  background-image: linear-gradient(to bottom, #f4f4f4 0, #e0e0e0 100%);
  border: 1px solid #e0e0e0;
  border-bottom-color: #c9c9c9; }
  .btn-gray:link, .btn-gray:visited {
    color: #333; }
  .btn-gray:hover {
    border-bottom-color: #bfbfbf;
    background-color: #e7e7e7;
    background-image: -moz-linear-gradient(top, #e7e7e7 0, lightgray 100%);
    background-image: -webkit-linear-gradient(top, #e7e7e7 0, lightgray 100%);
    background-image: -o-linear-gradient(top, #e7e7e7 0, lightgray 100%);
    background-image: linear-gradient(to bottom, #e7e7e7 0, lightgray 100%);
    color: #333; }
  .btn-gray:active {
    background-image: -moz-linear-gradient(top, lightgray 0, #e7e7e7 100%);
    background-image: -webkit-linear-gradient(top, lightgray 0, #e7e7e7 100%);
    background-image: -o-linear-gradient(top, lightgray 0, #e7e7e7 100%);
    background-image: linear-gradient(to bottom, lightgray 0, #e7e7e7 100%); }

.btn-main {
  border: 1px solid #e76135;
  border-bottom: 1px solid #e76135;
  color: #fff;
  background-color: #e76135;
  background-image: -moz-linear-gradient(top, #ef683b 0, #dc592e 100%);
  background-image: -webkit-linear-gradient(top, #ef683b 0, #dc592e 100%);
  background-image: -o-linear-gradient(top, #ef683b 0, #dc592e 100%);
  background-image: linear-gradient(to bottom, #ef683b 0, #dc592e 100%); }
  .btn-main:link, .btn-main:visited {
    color: #fff; }
  .btn-main:hover {
    border-bottom-color: #e44f1e;
    background-color: #e44f1e;
    background-image: -moz-linear-gradient(top, #ed5623 0, #ce4d22 100%);
    background-image: -webkit-linear-gradient(top, #ed5623 0, #ce4d22 100%);
    background-image: -o-linear-gradient(top, #ed5623 0, #ce4d22 100%);
    background-image: linear-gradient(to bottom, #ed5623 0, #ce4d22 100%);
    color: #fff; }
  .btn-main:active {
    background-image: -moz-linear-gradient(top, #ce4d22 0, #ed5623 100%);
    background-image: -webkit-linear-gradient(top, #ce4d22 0, #ed5623 100%);
    background-image: -o-linear-gradient(top, #ce4d22 0, #ed5623 100%);
    background-image: linear-gradient(to bottom, #ce4d22 0, #ed5623 100%); }

.btn-mini {
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  font-size: 12px; }

button.btn-mini,
input.btn-mini {
  height: 22px;
  _line-height: 17px; }

.btn-small {
  height: 24px;
  line-height: 24px;
  padding: 0 15px;
  font-size: 12px; }

button.btn-small,
input.btn-small {
  height: 26px;
  _height: 21px;
  *line-height: 21px; }

.btn-mid {
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  font-size: 12px; }

button.btn-mid,
input.btn-mid {
  height: 30px;
  _height: 25px;
  *line-height: 25px; }

.btn-big {
  height: 32px;
  line-height: 32px;
  padding: 0 25px;
  font-size: 14px;
  font-weight: bold; }

button.btn-big,
input.btn-big {
  height: 34px;
  _height: 29px;
  *line-height: 29px; }

.btn-biger {
  height: 36px;
  line-height: 36px;
  padding: 0 25px;
  font-size: 18px;
  font-weight: bold; }

button.btn-biger,
input.btn-biger {
  height: 38px;
  _height: 33px;
  *line-height: 33px; }

.btn-disabled {
  background-image: -moz-linear-gradient(top, #f2f2f2 0, #ddd 100%);
  background-image: -webkit-linear-gradient(top, #f2f2f2 0, #ddd 100%);
  background-image: -o-linear-gradient(top, #f2f2f2 0, #ddd 100%);
  background-image: linear-gradient(to bottom, #f2f2f2 0, #ddd 100%);
  border: 1px solid #d8d8d8;
  border-bottom-color: #bbb;
  color: #ccc;
  cursor: not-allowed;
  background-color: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  text-shadow: 1px 1px 0 #f0f1f2; }

a.btn-disabled {
  color: #ccc; }

.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:active,
.disabled {
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #f2f2f2 0, #dddddd 100%);
  background-image: -webkit-linear-gradient(top, #f2f2f2 0, #dddddd 100%);
  background-image: -o-linear-gradient(top, #f2f2f2 0, #dddddd 100%);
  background-image: linear-gradient(to bottom, #f2f2f2 0%, #dddddd 100%);
  border: 1px solid #d8d8d8;
  border-bottom-color: #bbb;
  color: #999;
  cursor: not-allowed;
  text-shadow: 1px 1px 0 #f0f1f2; }

.btn-icon {
  padding-left: 30px;
  padding-right: 10px;
  position: relative; }
  .btn-icon .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -8px; }

.btn[disabled] .icon {
  opacity: 0.25;
  filter: alpha(opacity=25); }

/*==================== btn-group======================*/
.btn-group {
  display: inline-block;
  *zoom: 1;
  border-right: 1px solid #ccc; }
  .btn-group:after {
    content: "\0020";
    display: table;
    font-size: 0;
    height: 0;
    clear: both; }
  .btn-group .btn,
  .btn-group .btn-dropdown {
    float: left;
    margin-right: -1px;
    border-radius: 0; }
  .btn-group .current {
    border-color: #e3c07c;
    background-color: #fef0d6;
    background-image: -moz-linear-gradient(top, #feebc6 0, #fdf4e4 100%);
    background-image: -webkit-linear-gradient(top, #feebc6 0, #fdf4e4 100%);
    background-image: -o-linear-gradient(top, #feebc6 0, #fdf4e4 100%);
    background-image: linear-gradient(to bottom, #feebc6 0, #fdf4e4 100%); }

/*==================== btn-dropdown ======================*/
.btn-dropdown {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: 2px 0 0; }

.btn-dropdown-hd {
  display: block;
  margin-top: -2px;
  text-align: center; }

.btn-dropdown-hd:link, .btn-dropdown-hd:visited, .btn-dropdown-hd:hover {
  text-decoration: none; }

.btn-dropdown-hd b {
  position: absolute;
  height: 0;
  width: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  border-style: solid;
  border-width: 4px 4px 0;
  top: 50%;
  right: 10px;
  margin-top: -2px; }

.btn-dropdown-hd .gray {
  border-color: gray transparent transparent transparent; }

.btn-dropdown-hd .white {
  border-color: #fff transparent transparent transparent; }

.btn-dropdown-bd {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 100%;
  /*padding-top:2px;*/
  width: 100%;
  border-bottom: 1px solid #ccc;
  background-color: #fff; }
  .btn-dropdown-bd li {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 0 5px;
    font-size: 12px;
    font-weight: 500;
    height: 24px;
    line-height: 24px; }
    .btn-dropdown-bd li:hover {
      background-color: #e7f4fd; }
    .btn-dropdown-bd li > .drop-item {
      display: block;
      color: #333; }
    .btn-dropdown-bd li > .drop-item a,
    .btn-dropdown-bd li > .drop-item:link,
    .btn-dropdown-bd li > .drop-item:visited,
    .btn-dropdown-bd li > .drop-item:hover {
      text-decoration: none; }

.btn-dropdown:hover .btn-dropdown-bd {
  display: block; }

/* ======================dropdown============ */
.dropdown {
  display: inline-block;
  width: 70px;
  position: relative;
  text-align: left; }
  .dropdown a {
    display: block;
    width: 58px;
    padding: 0 5px;
    background-color: #fff;
    color: #666; }
    .dropdown a:hover {
      color: #333;
      background-color: #dfecf5;
      text-decoration: none; }
  .dropdown b {
    display: inline-block;
    height: 0;
    width: 1px;
    font-size: 0;
    overflow: hidden;
    border-style: solid;
    border-width: 3px 3px 0;
    border-color: gray white white white;
    background-color: #808080;
    position: absolute;
    top: 9px;
    right: 5px;
    display: none; }
  .dropdown > li {
    height: 22px;
    line-height: 22px;
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    position: absolute;
    z-index: 49;
    display: none; }
    .dropdown > li:first-child {
      display: block;
      border-top: 1px solid #bfbfbf;
      border-bottom: 1px solid #bfbfbf;
      border-radius: 2px;
      position: relative;
      z-index: 19; }
      .dropdown > li:first-child:after {
        display: block;
        position: absolute;
        height: 0;
        width: 1px;
        font-size: 0;
        overflow: hidden;
        border-style: solid;
        border-width: 3px 3px 0;
        border-color: gray white white white;
        background-color: #808080;
        top: 8px;
        left: 4px; }
      .dropdown > li:first-child a {
        color: #06d; }
      .dropdown > li:first-child b {
        display: inline-block; }
    .dropdown > li.last, .dropdown > li:last-child {
      border-bottom: 1px solid #bfbfbf;
      border-radius: 2px; }
    .dropdown > li.up {
      border-bottom-color: #fff;
      border-top: 1px solid #bfbfbf; }
  .dropdown:hover > li {
    display: block; }
    .dropdown:hover > li b {
      border-color: white #3e79c0 #3e79c0 #3e79c0; }
    .dropdown:hover > li:first-child {
      border-color: #3c7ac7 #4078bd #1f5699; }
  .dropdown:hover > li:first-child a,
  .dropdown > li:first-child a:hover {
    background-color: #3e79c0;
    background-image: -moz-linear-gradient(top, #3c7ac7 0, #4575b0 100%);
    background-image: -webkit-linear-gradient(top, #3c7ac7 0, #4575b0 100%);
    background-image: -o-linear-gradient(top, #3c7ac7 0, #4575b0 100%);
    background-image: linear-gradient(to bottom, #3c7ac7 0%, #4575b0 100%);
    border-color: #3c7ac7 #4078bd #1f5699;
    color: #fff; }

.dropdown-w2 {
  width: 70px; }
  .dropdown-w2 a {
    width: 58px; }

.dropdown-w4 {
  width: 100px; }
  .dropdown-w4 a {
    width: 88px; }

.dropdown-w5 {
  width: 110px; }
  .dropdown-w5 a {
    width: 98px; }

.dropdown-w6 {
  width: 140px; }
  .dropdown-w6 a {
    width: 128px; }

/*# sourceMappingURL=../../sourcemaps/ui/ui_button.css.map */
