.icon,
.icon-nor,
.icon-big,
.icon-cert {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  font-size: 0;
  height: 16px;
  width: 16px;
  background: url(../../../img/ui/icon-16.png); }

.icon-nor {
  background: url(../../../img/ui/icon-32.png) no-repeat;
  width: 32px;
  height: 32px; }

.icon-big {
  background: url(../../../img/ui/icon-48.png) no-repeat;
  width: 48px;
  height: 48px; }

/*-------------icon default-------------*/
.icon-warn {
  background-position: 0 0; }

.icon-succ {
  background-position: -16px 0; }

.icon-stop {
  background-position: -64px 0; }

.icon-info {
  background-position: -32px 0; }

.icon-ques {
  background-position: -48px 0; }

.icon-error {
  background-position: -80px 0; }

.icon-asso {
  background-position: -16px -48px; }

.icon-copy {
  background-position: -80px -48px; }

.icon-close,
.icon-close:link, .icon-close:visited {
  width: 15px;
  height: 15px;
  background-position: 0 -16px;
  cursor: pointer; }

.icon-close:hover {
  background-position: -16px -16px; }

.icon-nxt {
  background-position: -80px -32px; }

.icon-back {
  background-position: 0px -48px; }

.icon-back-arrow {
  background-position: 0 -256px; }

.icon-prev-arrow {
  background-position: -16px -256px; }

.icon-next-arrow {
  background-position: -32px -256px; }

.icon-add {
  background-position: 0 -32px; }

.icon-add-green {
  background-position: -32px -48px; }

.icon-minus-green {
  cursor: pointer;
  background-position: -80px -224px; }

.icon-import {
  background-position: -16px -32px; }

.icon-cate {
  background-position: -32px -32px; }

.icon-flow {
  background-position: -48px -48px; }

.icon-zoom {
  background-position: -64px -48px; }

.icon-export {
  background-position: -32px -64px; }

.icon-close-big,
.icon-close-big:link, .icon-close-big:visited {
  background-position: 0 -64px;
  cursor: pointer; }

.icon-close-big:hover {
  background-position: -16px -64px; }

.icon-add-squre {
  background-position: -64px -16px; }

.icon-minus-squre {
  background-position: -80px -16px; }

.icon-project {
  background-position: -48px -128px; }

.icon-place {
  background-position: -64px -128px; }

.icon-time {
  background-position: -80px -128px; }

.icon-bider {
  background-position: 0px -176px; }

.icon-tel {
  background-position: -16px -176px; }

.icon-mail {
  background-position: -32px -176px; }

.icon-list {
  background-position: -48px -176px; }

.icon-lock {
  background-position: -64px -160px; }

.icon-unlock {
  background-position: -80px -224px; }

.icon-clock {
  background-position: -80px -160px; }

.icon-pic {
  background-position: -80px -64px;
  margin-right: 5px; }

.icon-pdf {
  background-position: -32px -112px;
  margin-right: 5px; }

.icon-xls {
  background-position: -48px -112px;
  margin-right: 5px; }

.icon-doc {
  background-position: -64px -112px;
  margin-right: 5px; }

.icon-rar {
  background-position: -80px -112px;
  margin-right: 5px; }

.icon-avatar,
.icon-pen {
  width: 20px;
  height: 20px;
  background: url(../../../img/front/default_icon.png) no-repeat; }

.icon-avatar {
  background-position: 0 0; }

.icon-pen {
  background-position: -20px 0; }

.icon-folder {
  background-position: 0 -80px; }

.icon-paper {
  background-position: -16px -80px; }

.icon-people {
  background-position: -32px -80px; }

.icon-link {
  background-position: -48px -80px; }

.icon-checked {
  background-position: -64px -80px; }

.icon-edit, .icon-edit:link, .icon-edit:visited {
  background-position: 0px -144px;
  cursor: pointer; }

.icon-edit:hover {
  background-position: -16px -144px; }

.icon-abiz {
  background-position: 0 -96px; }

.icon-new {
  width: 23px;
  background-position: -16px -96px; }

.icon-print {
  background-position: 0 -112px; }

.icon-excel {
  background-position: -16px -112px; }

.icon-like {
  background-position: -48px -144px; }

.icon-select {
  background-position: -80px -144px; }

.icon-recmd {
  width: 29px;
  background-position: 0 -160px; }

.icon-logout {
  background-position: -32px -160px; }

.icon-admin {
  background-position: -48px -160px; }

.icon-coin {
  background-position: -16px -128px; }

.icon-admin-white {
  background-position: 0 -128px; }

.icon-abiz {
  background-position: -64px -176px; }

.icon-cn {
  background-position: -80px -176px; }

.icon-heart-gray {
  background-position: 0px -192px; }

.icon-heart-red {
  background-position: -16px -192px; }

.icon-printer {
  background-position: -32px -192px; }

.icon-save {
  background-position: -48px -192px; }

.icon-gear {
  background-position: -64px -192px; }

.icon-next {
  background-position: -80px -192px; }

.icon-ellipsis {
  background-color: #fff;
  background-position: 0 -208px;
  cursor: pointer; }

.icon-ellipsis-transparent {
  background-position: 0 -208px; }

.icon-ellipsis-flat {
  background-position: 0 -272px; }

.icon-add-black, .icon-add-black:link, .icon-add-black:visited {
  background-position: -32px -208px; }

.icon-add-black:hover {
  background-position: -48px -208px; }

.icon-trash {
  background-position: -64px -208px;
  cursor: pointer; }

.icon-trash:hover {
  background-position: -80px -208px; }

.icon-repeat, .icon-repeat:link, .icon-repeat:visited {
  width: 26px;
  height: 25px;
  cursor: pointer;
  background: url("../../../img/back/repeat.png") no-repeat; }

.icon-repeat:hover {
  background-position: 0 -25px; }

.icon-orient {
  width: 30px;
  background-position: 0 -224px; }

.icon-outdate {
  width: 30px;
  background-position: -32px -224px; }

.icon-toggle-down {
  background-position: -64px -224px; }

.icon-contact {
  background-position: -16px -240px; }

.icon-money {
  background-position: -32px -240px; }

.icon-add-circle {
  background-position: -64px -256px; }

.icon-add-circle:hover {
  background-position: -64px -240px; }

.icon-minus-circle {
  background-position: -80px -256px; }

.icon-minus-circle:hover {
  background-position: -80px -240px; }

.icon-exchange {
  background-position: -16px -272px; }

.icon-delete {
  background-position: -32px -272px; }

.icon-hammer {
  background-position: -80px -272px; }

.icon-contract {
  background-position: -96px 0; }

.icon-treaty {
  background-position: -96px -16px; }

.icon-date {
  background-position: -96px -32px;
  cursor: pointer; }

.icon-valid-price {
  background-position: -96px -128px; }

.icon-number-source {
  background-position: -96px -64px; }

/* side nav */
.menu-hd .icon-fast {
  background-position: 0 0; }

.menu-hd .icon-goods {
  background-position: -16px 0; }

.menu-hd .icon-my-sup {
  background-position: -32px 0; }

.menu-hd .icon-reg-sup {
  background-position: -48px 0; }

.menu-hd .icon-sup-setting {
  background-position: -64px 0; }

.menu-hd .icon-contract {
  background-position: 0 -16px; }

.menu-hd .icon-cart {
  background-position: -16px -16px; }

.menu-hd .icon-inq {
  background-position: -32px -16px; }

.menu-hd .icon-bid {
  background-position: -48px -16px; }

.menu-hd .icon-bid-edit {
  background-position: -64px -16px; }

.menu-hd .icon-bid-submit {
  background-position: 0 -32px; }

.menu-hd .icon-bid-resolve {
  background-position: -64px -128px; }

.menu-hd .icon-stock-in {
  background-position: -16px -32px; }

.menu-hd .icon-stock-out {
  background-position: -32px -32px; }

.menu-hd .icon-stock-out-in {
  background-position: -32px -32px; }

/* 2.0 new */
.menu-hd .icon-tender-all,
.menu-hd .icon-order-sum {
  background-position: -48px -32px; }

.menu-hd .icon-price {
  background-position: -64px -32px; }

.menu-hd .icon-door {
  background-position: 0 -48px; }

.menu-hd .icon-notice {
  background-position: -16px -48px; }

.menu-hd .icon-company {
  background-position: -32px -48px; }

.menu-hd .icon-system {
  background-position: -48px -48px; }

.menu-hd .icon-accnt {
  background-position: -64px -48px; }

.menu-hd .icon-custom {
  background-position: -16px -129px; }

/* 2.0 new */
.menu-hd .icon-store {
  background-position: -32px -64px; }

.menu-hd .icon-moveout {
  background-position: -48px -64px; }

.menu-hd .icon-movein {
  background-position: -64px -64px; }

.menu-hd .icon-pocket {
  background-position: 0px -80px; }

.menu-hd .icon-payment {
  background-position: -16px -80px; }

.menu-hd .icon-invoice {
  background-position: -32px -80px; }

.menu-hd .icon-store-report {
  background-position: -48px -80px; }

.menu-hd .icon-pencil {
  background-position: -64px -80px; }

.menu-hd .icon-req-sum {
  background-position: 0px -112px; }

.menu-hd .icon-req-manage {
  background-position: -16px -112px; }

.menu-hd .icon-proj-manage {
  background-position: -32px -112px; }

.menu-hd .icon-tools {
  background-position: -48px -112px; }

.menu-hd .icon-purchase-order {
  background-position: 0 -128px; }

/* 2.0 new */
.menu-hd .icon-data-custom {
  background-position: -16px -128px; }

/* 2.0 new */
.menu-hd .icon-unit-of-measure {
  background-position: -32px -128px; }

/* 2.0 new */
.menu-hd .icon-receive {
  background-position: -48px -128px; }

/* 2.0 new */
.menu-hd .icon-inspect {
  background-position: -64px -128px; }

/* 2.0 new */
.menu-hd .icon-request {
  background-position: -32px -144px; }

/* add request */
.menu-hd .icon-store-check {
  background-position: -32px -144px; }

/* store-check */
.menu-hd .icon-store-exchange {
  background-position: -48px -144px; }

/* store-exchange */
.menu-hd .icon-global-set {
  background-position: -80px 0px; }

.menu-hd .icon-plan {
  background-position: -16px -144px; }

.menu-hd .icon-eval {
  background-position: -80px -32px; }

.menu-hd .icon-delivery {
  background-position: -80px -48px; }

.menu-hd .icon-quality {
  background-position: -80px -64px; }

.menu-hd .icon-reponse {
  background-position: -80px -80px; }

.menu-hd .icon-advise {
  background-position: -80px -96px; }

.menu-hd .icon-treaty {
  background-position: -80px -112px; }

/*-------------icon normal 32X32-------------*/
.icon-nor-error {
  background-position: 0 0; }

.icon-nor-info {
  background-position: -64px 0; }

.icon-nor-warn {
  background-position: -64px -32px; }

.icon-nor-succ {
  background-position: -32px 0; }

.icon-nor-ques {
  background-position: 0 -32px; }

.icon-nor-stop {
  background-position: -32px -32px; }

/*-------------icon big 48X48-------------*/
.icon-big-warn {
  background-position: 0 0; }

.icon-big-succ {
  background-position: -48px 0; }

.icon-big-info {
  background-position: -96px 0; }

.icon-big-error {
  background-position: 0 -48px; }

.icon-big-stop {
  background-position: -48px -48px; }

.icon-big-ques {
  background-position: -96px -48px; }

/*-------------icon arrow -------------*/
.icon-arrow-top {
  display: inline-block;
  vertical-align: middle;
  width: 0px;
  height: 0px;
  border-width: 3px;
  border-style: solid;
  border-color: #efefef #efefef #7d7d7d #efefef;
  margin-left: 3px;
  _font: 0;
  _line-height: 0; }

.icon-arrow-bottom {
  display: inline-block;
  vertical-align: middle;
  width: 0px;
  height: 0px;
  border-width: 3px;
  border-style: solid;
  border-color: #7d7d7d #efefef #efefef #efefef;
  margin-left: 3px;
  _font: 0;
  _line-height: 0; }

.icon-arrow-right {
  display: inline-block;
  vertical-align: middle;
  width: 0px;
  height: 0px;
  border-width: 3px;
  border-style: solid;
  border-color: #fff #fff #fff #7d7d7d;
  margin-left: 3px;
  _font: 0;
  _line-height: 0; }

.icon-arrow-lft {
  display: inline-block;
  vertical-align: middle;
  width: 0px;
  height: 0px;
  border-width: 3px;
  border-style: solid;
  border-color: #fff #7d7d7d #fff #fff;
  margin-left: 3px;
  _font: 0;
  _line-height: 0; }

/*===== other icon =====*/
.icon-reload,
.icon-history {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../../../img/ui/dashboard.png");
  cursor: pointer; }

.icon-reload {
  background-position: -20px 0; }

.icon-basket {
  background-position: -112px -16px; }

.icon-join-bxt {
  background-position: -112px 0; }

.icon-basic-gray {
  background-position: -112px -32px; }

.icon-basic {
  background-position: -96px -48px; }

.icon-senior {
  background-position: -112px -48px; }

.icon-ccic {
  background-position: -96px -64px; }

.icon-ccic-gray {
  background-position: -112px -64px; }

.icon-id {
  background-position: -96px -80px; }

.icon-id-gray {
  background-position: -112px -80px; }

.icon-addr {
  background-position: -96px -96px; }

.icon-addr-gray {
  background-position: -112px -96px; }

.icon-xun {
  background-position: -96px -112px; }

.icon-zhao {
  background-position: -112px -112px; }

.icon-phone {
  background-position: -96px -128px; }

.icon-phone-gray {
  background-position: -112px -128px; }

.icon-bgt-basic {
  background-position: -112px -144px; }

.icon-bgt-standard {
  background-position: -96px -160px; }

.icon-bgt-vip {
  background-position: -112px -160px; }

.icon-cert {
  background: url(../../../img/ui/icon_cert.png) no-repeat; }

.cert-co {
  background-position: 0 0; }

.cert-email {
  height: 15px;
  background-position: -20px 0; }

.cert-phone {
  width: 13px;
  background-position: -40px 0; }

.cert-pwd {
  width: 14px;
  height: 16px;
  background-position: -79px 0; }

.cert-weixin {
  width: 17px;
  height: 17px;
  background-position: -57px 0; }

.cert-co-gray {
  width: 20px;
  height: 19px;
  background-position: 0 -16px; }

.cert-email-gray {
  width: 20px;
  height: 17px;
  background-position: -20px -16px; }

.cert-phone-gray {
  width: 17px;
  height: 18px;
  background-position: -40px -16px; }

.cert-weixin-gray {
  width: 22px;
  height: 17px;
  background-position: -57px -17px; }

.cert-pwd-gray {
  width: 19px;
  height: 18px;
  background-position: -79px -16px; }

/*# sourceMappingURL=../../sourcemaps/ui/ui_icon.css.map */
