/*
 * @des: pop dir
 * @author: liu-yao 2017/2/17
 * @update: 
*/
.pop-dir {
  width: 740px; }
  .pop-dir .more {
    float: right;
    margin-top: 5px; }

.dir .dir-search {
  margin: 10px 0; }
  .dir .dir-search .btn {
    margin-left: 10px; }

.dir .dir-groups {
  overflow: hidden; }
  .dir .dir-groups .dir-group {
    width: 233px;
    float: left;
    border: 1px solid #d1d1d1;
    overflow: hidden;
    margin-right: 5px;
    overflow-y: scroll;
    height: 290px; }
    .dir .dir-groups .dir-group .dir-lst li {
      padding-left: 10px;
      line-height: 24px;
      cursor: default; }
      .dir .dir-groups .dir-group .dir-lst li:before, .dir .dir-groups .dir-group .dir-lst li:after {
        content: " ";
        display: table;
        height: 0;
        visibility: hidden;
        font-size: 0; }
      .dir .dir-groups .dir-group .dir-lst li:after {
        clear: both; }
      .dir .dir-groups .dir-group .dir-lst li:hover {
        background-color: #f2f2f2; }
      .dir .dir-groups .dir-group .dir-lst li.on {
        background-color: #edf4fa;
        font-weight: bold;
        color: #06d; }
      .dir .dir-groups .dir-group .dir-lst li .icon-nxt {
        margin-top: 3px;
        float: right; }

.dir-ft-hd {
  margin: 8px 0 5px; }
  .dir-ft-hd:before, .dir-ft-hd:after {
    content: " ";
    display: table;
    height: 0;
    visibility: hidden;
    font-size: 0; }
  .dir-ft-hd:after {
    clear: both; }
  .dir-ft-hd h4 {
    float: left;
    color: #666; }
  .dir-ft-hd a {
    float: right; }

.dir-ft .dir-result:before, .dir-ft .dir-result:after {
  content: " ";
  display: table;
  height: 0;
  visibility: hidden;
  font-size: 0; }

.dir-ft .dir-result:after {
  clear: both; }

.dir-ft .dir-result > li {
  float: left;
  margin-right: 10px;
  padding: 3px 10px;
  border: 1px solid #c7dbeb;
  color: #1c75bb;
  background-color: #edf4fa; }
  .dir-ft .dir-result > li .icon-close {
    margin-left: 10px; }

.dir-used-lst {
  margin-bottom: 15px; }
  .dir-used-lst li {
    padding: 6px 10px;
    cursor: pointer; }
    .dir-used-lst li:nth-child(even) {
      background-color: #f7f7f7; }
    .dir-used-lst li:hover {
      background-color: #edf4fa; }

.gt {
  margin: 0 3px;
  color: #666;
  font-family: "\5B8B\4F53"; }

.form-radio-group label {
  margin-right: 20px; }

.recruit-head .sup-name {
  margin-bottom: 15px;
  text-align: center; }
  .recruit-head .sup-name .sup-name-inner {
    position: relative;
    display: inline-block; }
  .recruit-head .sup-name strong {
    font: normal 22px/1.5 "\5FAE\8F6F\96C5\9ED1", "\534E\6587\7EC6\9ED1"; }
  .recruit-head .sup-name img {
    position: absolute;
    top: 0;
    right: -101px;
    vertical-align: bottom; }

.recruit-body {
  margin-top: 20px; }

.req-wrap .form-panel {
  padding-bottom: 80px; }
  .req-wrap .form-panel .req-lst > li {
    padding-left: 89px; }
  .req-wrap .form-panel .req-lst .field-tit {
    width: 78px;
    height: 32px;
    line-height: 32px; }
  .req-wrap .form-panel .req-lst .field-bd-txt {
    line-height: 32px; }
  .req-wrap .form-panel .req-lst .txt {
    height: 20px;
    border-color: #ccc; }
    .req-wrap .form-panel .req-lst .txt:focus {
      border-color: #39f; }
  .req-wrap .form-panel .req-lst .tb-border-ver {
    width: 400px;
    margin-bottom: 5px; }
    .req-wrap .form-panel .req-lst .tb-border-ver td {
      padding: 10px;
      vertical-align: middle; }

.req-wrap .req-tip {
  padding: 10px 15px;
  margin-top: -39px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #F2F2F2;
  color: #999; }

.pop-area {
  width: 500px; }
  .pop-area .reg-tip-act {
    padding: 5px 0px; }

.rule-item,
.rule-license-lst {
  overflow: hidden;
  *zoom: 1; }

.rule-item {
  padding: 0 0 6px; }

.rule-type {
  line-height: 30px;
  padding: 0 10px;
  background-color: #f7f7f7; }

.rule-item-name {
  float: left;
  line-height: 34px;
  margin-right: 10px;
  width: 50px;
  text-align: right; }

.rule-item-bd {
  float: left; }

.rule-run-mode .rule-item-bd {
  padding-top: 8px; }

.rule-item-bd label {
  margin-right: 10px; }

.rule-item .location {
  float: left; }

.rule-attach .rule-item-bd {
  padding-top: 5px; }

.rule-attach .uploaded {
  padding: 3px 0 5px; }

.rule-attach .uploaded a {
  margin-right: 10px; }

.rule-run-mode .rule-item-bd li {
  float: left;
  margin-right: 10px;
  padding: 4px 0 10px; }

.rule-cert {
  margin-top: 15px; }

.rule-license-lst li {
  float: left;
  padding: 7px 0 5px;
  margin-right: 10px; }

.rule-report-lst li {
  padding: 5px 0; }

.rule-report-lst li:after {
  content: "";
  height: 0;
  line-height: 0;
  clear: both;
  display: block;
  visibility: hidden; }

.rule-report-lst .cert-tit {
  float: left;
  line-height: 26px;
  width: 105px; }

.rule-license-lst li {
  margin-right: 20px; }

.rule-dfn {
  width: 505px; }

.rule-dfn .add-col {
  margin-right: 30px; }

.txt-request {
  width: 150px; }

.rule-dfn .rule-name {
  width: 322px; }

.rule-required,
.rule-dfn .lnk-delete {
  margin-top: 4px; }

/* other cert */
.other-cert {
  position: relative; }

.other-cert .focus {
  border: 1px solid #3598fe; }

.other-cert-bd {
  width: 615px;
  border: 1px solid #3598fe;
  padding: 25px 25px 0;
  background: #fff;
  position: absolute;
  top: 31px;
  left: 0;
  z-index: 11; }

.other-cert-bd dl {
  margin-bottom: 25px; }

.other-cert-bd dt {
  font-weight: bold;
  margin-bottom: 2px; }

.other-cert-bd dd {
  float: left;
  width: 160px;
  padding: 7px 25px 7px 15px; }

.other-cert-bd dd .chk {
  margin: 3px 0 0 -15px;
  float: left; }

.other-cert-bd .sub-other-cert dd {
  width: auto;
  line-height: 32px; }

.other-cert-bd .sub-other-cert dd .chk {
  margin-top: 9px; }

.accepted {
  width: 50px; }

.com-info .com-name {
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle; }

.com-info .icon-wrap {
  margin-left: 10px; }
  .com-info .icon-wrap i {
    margin-right: 5px; }
  .com-info .icon-wrap .accepted {
    width: 45px;
    margin-bottom: 5px; }

.com-info .basic-row-lst li {
  border: none;
  font-size: 14px; }
  .com-info .basic-row-lst li .address {
    padding-left: 15px; }

.rec-prod-lst:before, .rec-prod-lst:after {
  content: " ";
  display: table;
  height: 0;
  visibility: hidden;
  font-size: 0; }

.rec-prod-lst:after {
  clear: both; }

.rec-prod-lst li {
  float: left;
  margin-right: 8px;
  line-height: 20px; }

/*# sourceMappingURL=../../../../../sourcemaps/site/module/oss/recruit/m_recruit.css.map */
