@charset "UTF-8";
/* pop - res cate .pop-res-cate */
.pop-res-cate {
  width: auto;
  min-width: 556px;
  _width: 560px; }

.pop-res-cate .res-cate-index {
  overflow: hidden;
  *zoom: 1; }

.res-cate {
  float: left;
  *position: relative;
  width: 170px;
  height: 210px;
  overflow-y: scroll;
  overflow-x: auto;
  border: 1px solid #d2d2d2;
  background-color: #f3faff; }

.res-cate-emt {
  text-align: center;
  height: 210px;
  line-height: 200px;
  color: #999; }

.res-cate h3 {
  padding: 5px 8px;
  background-color: #eee; }

.res-cate .res-cate-blank {
  margin-top: 70px;
  text-align: center;
  color: #666; }

.res-cate a,
.res-cate label,
.res-cate .item {
  display: block;
  margin: 5px 0;
  height: 28px;
  padding-left: 8px;
  line-height: 28px;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle; }

.res-cate a .sel {
  display: inline-block;
  height: 12px;
  width: 12px;
  font-size: 0;
  vertical-align: middle;
  margin-right: 3px;
  background-image: url(../../../../img/back/checkbox.png);
  background-repeat: no-repeat; }

.res-cate label .icon-nxt,
.res-cate a .icon-nxt {
  float: right;
  margin: 7px 5px 0 0; }

.res-cate a:hover .sel {
  background-position: 0 -26px; }

.res-cate .selected .sel,
.res-cate .selected:hover .sel {
  background-position: 0 -13px; }

/* 类目默认及hover */
.res-cate a:link,
.res-cate a:visited {
  color: #333; }

.res-cate a:hover,
.res-cate label:hover {
  background-color: #fcfbd5;
  text-decoration: none; }

/* 子类目被选中 */
.res-cate .on {
  background-color: #dae9fd; }

.res-cate .on:link,
.res-cate .on:visited,
.res-cate .on:hover {
  background-color: #dae9fd; }

/* 选中当前类目 */
.res-cate .selected {
  color: #fff;
  background-color: #47a0ed; }

.res-cate .selected:link,
.res-cate .selected:visited,
.res-cate .selected:hover {
  color: #fff;
  background-color: #257fd9; }

.res-cate .checked {
  color: #333;
  background-color: #e2edf3; }

.res-cate .checked:link,
.res-cate .checked:visited,
.res-cate .checked:hover {
  color: #333;
  background-color: #e2edf3; }

.res-cate-lft,
.res-cate-mid {
  margin-right: 10px; }

.res-cate-sel h4 {
  margin: 8px 0 5px;
  color: #666; }

.res-cate-sel .arr-cate {
  color: #666; }

.res-cate-sel-lst {
  height: 110px;
  overflow-y: scroll; }

.res-cate-sel-lst li {
  padding: 2px 0; }

.res-cate-sel-lst .icon-close {
  margin-left: 10px; }

.res-cate-wrap {
  position: relative; }

.res-cate-drop {
  position: absolute;
  z-index: 299;
  left: 0;
  top: 25px;
  padding: 10px;
  border: 1px solid #89b2d0;
  width: 536px;
  background-color: #fff; }

.res-cate-wrap--right .res-cate-drop {
  left: auto;
  right: 0; }

.res-cate-index {
  margin-right: -10px;
  overflow: hidden;
  *zoom: 1; }

.res-cate-ope {
  padding-top: 10px; }

.res-cate-ope .btn {
  margin-right: 5px; }

/* pop - add cate  .pop-res-addcate */
.pop-res-addcate {
  width: 450px; }

.pop-res-addcate .sel-parent {
  overflow: visible; }

.sel-parent .txt-select {
  cursor: pointer; }

.pop-res-addcate .sel-parent .icon-arrow-bottom {
  position: absolute;
  border-width: 4px;
  top: 12px;
  left: 220px;
  cursor: pointer; }

.pop-res-addcate .sel-parent .field-bd {
  overflow: visible;
  position: relative;
  z-index: 50; }

.pop-res-addcate .sel-parent-ft {
  padding: 16px 0;
  text-align: center; }

.pop-res-addcate .sel-parent-ft .btn-blue {
  margin-right: 15px; }

.pop-res-addcate .sel-parent-menu {
  width: 352px;
  position: absolute;
  left: 0px;
  top: 25px;
  background-color: #fff;
  border: 1px solid #ccc; }

.pop-res-addcate .sel-parent-bd {
  overflow: hidden;
  *zoom: 1;
  /*margin-right: -15px;*/ }

.pop-res-addcate .res-cate-lft {
  border-left: none;
  border-top: none;
  margin-right: 0;
  width: 175px; }

.pop-res-addcate .res-cate-mid {
  border-right: none;
  border-top: none;
  margin-right: 0; }

.pop-res-addcate .sel-parent-bd:after {
  content: '\0020';
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  clear: both; }

.add-cate-groups li {
  margin-bottom: 5px;
  position: relative; }

.add-cate-groups .icon-error {
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 238px; }

.btn-add-cate {
  cursor: pointer;
  display: inline-block;
  color: #05c; }

.btn-add-cate .icon {
  margin: -1px 3px 0 0; }

/* pop - add price */
.field-des textarea {
  width: 220px;
  height: 78px;
  resize: none; }

/* pop-dropdown */
.pop-dropdown {
  width: 250px; }

/*# sourceMappingURL=../../../sourcemaps/site/widget/w_pop_cate.css.map */
